.checkbox input:checked + .checkmark::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #7AA92E;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px; }

.checkmark {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  cursor: pointer; }

.checkbox input {
  -webkit-appearance: none;
  padding: 0;
  opacity: 0;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  position: absolute; }

.input-field {
  position: relative;
  margin: 0 auto 15px; }

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px; }

.input-field input:not([type="checkbox"]), .input-field textarea, .select2-container .select2-selection--single {
  width: 100%;
  height: 54px;
  padding-left: 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  transition: all .2s linear; }

.input-field input:not([type="checkbox"]):disabled, .input-field textarea:disabled {
  background-color: #E5E5E5;
  pointer-events: none; }

.checkbox-text {
  padding: 3px 0 0 35px;
  cursor: pointer; }

p.error {
  color: #AB2328;
  text-align: center;
  font-size: 16px;
  line-height: 24px; }

.error::-moz-placeholder {
  color: #AB2328; }

.error:-ms-input-placeholder {
  color: #AB2328; }

.error::-ms-input-placeholder {
  color: #AB2328; }

.error, .error::placeholder, .input-field input.error[type="checkbox"] ~ .checkbox-text {
  color: #AB2328; }

input[type=text].error, input[type=password].error, .select2-selection--single.select2error, textarea.error, .dropify-error .dropify-wrapper {
  border: 1px solid #AB2328 !important;
  color: #AB2328; }

.select2error .select2-selection__placeholder {
  color: #AB2328 !important; }

.select2error .select2-selection__arrow {
  display: none; }

span.error {
  position: absolute;
  font-size: 0;
  top: 0;
  right: 16px;
  bottom: 0;
  width: 23px;
  height: 20px;
  margin: auto;
  background: url(../img/icon-warn.svg) center no-repeat;
  background-size: contain;
  z-index: 5; }

.personal-data-text {
  width: 80%; }

.personal-content-inner .input-field input:not([type="checkbox"]), .personal-content-inner .input-field textarea, .personal-content-inner .select2-container .select2-selection--single, .personal-content-inner select {
  border: 1px solid #C4C4C4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); }

.personal-content-inner .input-field input:not([type="checkbox"]), .personal-content-inner .input-field textarea, .personal-content-inner .select2-container .select2-selection--single, .personal-content-inner .select, .personal-content-inner .day-of-birth {
  width: 367px; }

.personal-content-inner .input-field input[type="search"] {
  width: 100%; }

.personal-content-inner .input-field input:not([type="checkbox"]), .personal-content-inner .input-field textarea, .personal-content-inner .select2-container .select2-selection--single {
  padding-left: 14px; }

.personal-content-inner .day-of-birth .select2-container .select2-selection--single, .personal-content-inner .day-of-birth select {
  width: 100%; }

.personal-content-inner .select-day {
  flex-basis: 27%; }

.personal-content-inner .select-month {
  flex-basis: 38%; }

.personal-content-inner .select-year {
  flex-basis: 27%; }

textarea {
  min-height: 121px;
  padding-top: 18px; }

/* Normalize styles */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

main {
  display: block; }

ol,
ul {
  list-style: none; }

b,
strong {
  font-weight: bold; }

*,
:after,
:before {
  box-sizing: border-box; }

img {
  max-width: 100%;
  border-style: none; }

img[width="0"][height="0"] {
  display: none; }

a {
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none; }

input,
select,
textarea,
button {
  border: none;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

textarea {
  overflow: auto; }

textarea::-webkit-scrollbar {
  width: 0; }

::-ms-clear {
  display: none; }

input {
  overflow: visible; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  overflow: visible; }

button,
select {
  text-transform: none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

select::-ms-expand {
  display: none; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none; }

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  border-radius: 0;
  scrollbar-width: none;
  -ms-overflow-style: none; }

label {
  margin: 0; }

input,
button,
select {
  border: none;
  outline: none; }

input {
  border-radius: 0; }

body .mobile-visible {
  display: none; }

@media (max-width: 1000px) {
  body .mobile-visible {
    display: block; }
  body .desktop-visible {
    display: none; } }

.no-scrolling {
  overflow: hidden; }

.link {
  text-decoration: underline; }

.link:hover {
  text-decoration: none; }

.invert-link {
  text-decoration: none; }

.invert-link:hover {
  text-decoration: underline; }

/*EXAMPLE SCROLLBAR ---------------------- */
body .scroll-element,
body .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1; }

body .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

body .scroll-element.scroll-x {
  bottom: 1px;
  height: 8px;
  left: 0;
  width: 100%; }

.collection-list.scroll-wrapper > .scroll-content {
  padding-bottom: 10px; }

body .collection-list .scroll-element.scroll-y {
  display: none; }

body .scroll-element.scroll-x .scroll-element_track {
  top: 0;
  width: 100%;
  height: 8px; }

body .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 6px; }

body .scroll-element .scroll-element_outer {
  overflow: visible; }

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
  border-radius: 0; }

body .scroll-element .scroll-element_track {
  background: #C4C4C4;
  left: 0;
  width: 2px; }

body .lk-block .scroll-element .scroll-element_track {
  background: #009DD7; }

body .dark .scroll-element .scroll-element_track {
  background: #FFF9BD; }

body .scroll-element .scroll-bar {
  height: auto;
  min-height: 10px;
  max-height: 150px;
  width: 8px;
  background: #85312C;
  box-shadow: none;
  left: -3px;
  position: relative; }

body .lk-block .scroll-element .scroll-bar {
  background: #009DD7; }

body .dark .scroll-element .scroll-bar {
  background: #FFF9BD; }

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px; }

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px; }

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px; }

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px; }

/**/
/* Example Select2 */
.select {
  width: 100%;
  position: relative;
  /*margin: 10px auto;*/ }

.select select {
  width: 100%; }

.select2 {
  z-index: 2; }

.select2-dropdown {
  z-index: 7 !important; }

.select2-container span {
  outline: none; }

.select2-container .select2-selection--single {
  width: 100%;
  padding-top: 18px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  padding-left: 0; }

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 1;
  font-weight: bold; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 20px;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin: 0;
  top: 0;
  left: 0;
  border: none;
  width: 20px;
  height: 10px;
  background: url(../img/arrow-gray-down.svg) center no-repeat;
  transition: all .2s linear; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(-180deg); }

.select2-dropdown {
  background: #fff;
  border-radius: 0;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12); }

.select2-container--open .select2-dropdown--below {
  border-radius: 0;
  border: 1px solid #C4C4C4;
  z-index: 1; }

.select2-results__options {
  border-radius: 0; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 250px; }

.select2-results__option {
  font-size: 16px;
  line-height: 1;
  min-height: 30px;
  padding: 8px 20px 8px 15px; }

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: rgba(122, 169, 46, 0.3);
  color: #000;
  font-weight: bold; }

/**/
/* Slick Slider styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-slider * {
  outline: none; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 0;
  z-index: 1; }

/**/
/* Iframe styles */
.iframe-wrap,
.iframe-wrap iframe {
  scrollbar-width: none; }

.iframe-wrap {
  height: 100%;
  min-height: 340px;
  width: 100%; }

.iframe-wrap iframe {
  height: 100vh;
  max-height: 340px;
  width: 100%; }

/**/

@font-face {
  font-family: 'dropify';
  src: url("../fonts/dropify.eot");
  src: url("../fonts/dropify.eot#iefix") format("embedded-opentype"), url("../fonts/dropify.woff") format("woff"), url("../fonts/dropify.ttf") format("truetype"), url("../fonts/dropify.svg#dropify") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="dropify-font-"]:before, [class*=" dropify-font-"]:before, .dropify-font:before, .dropify-wrapper .dropify-message span.file-icon:before {
  font-family: "dropify";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-left: .2em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em; }

.dropify-font-upload:before, .dropify-wrapper .dropify-message span.file-icon:before {
  content: '\e800'; }

.dropify-font-file:before {
  content: '\e801'; }

.dropify-wrapper {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  color: #777;
  background-color: #FFF;
  background-image: none;
  text-align: center;
  border: 1px solid #7AA92E;
  transition: border-color .15s linear; }

.dropify-wrapper.has-preview .dropify-clear {
  display: block; }

.dropify-wrapper.has-error {
  border-color: #F34141; }

.dropify-wrapper.has-error .dropify-message .dropify-error {
  display: block; }

.dropify-wrapper.has-error:hover .dropify-errors-container {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

.dropify-wrapper.disabled input {
  cursor: not-allowed; }

.dropify-wrapper.disabled:hover {
  background-image: none;
  -webkit-animation: none;
  animation: none; }

.dropify-wrapper.disabled .dropify-message {
  opacity: 0.5;
  text-decoration: line-through; }

.dropify-wrapper.disabled .dropify-infos-message {
  display: none; }

.dropify-wrapper input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5; }

.dropify-wrapper .dropify-message {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.dropify-wrapper .dropify-message span.file-icon {
  font-size: 50px;
  color: #CCC; }

.dropify-wrapper .dropify-message p {
  margin: 5px 0 0 0; }

.dropify-wrapper .dropify-message p.dropify-error {
  color: #F34141;
  font-weight: bold;
  display: none; }

.dropify-wrapper .dropify-clear {
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
  font-size: 11px;
  padding: 4px 8px;
  font-weight: bold;
  color: #FFF;
  transition: all 0.15s linear; }

.dropify-wrapper .dropify-clear:hover {
  background: rgba(255, 255, 255, 0.2); }

.dropify-wrapper .dropify-preview {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #FFF;
  padding: 5px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-align: center; }

.dropify-wrapper .dropify-preview .dropify-render img {
  top: 50%;
  transform: translate(0, -50%);
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background-color: #FFF;
  transition: border-color 0.15s linear; }

.dropify-wrapper .dropify-preview .dropify-render i {
  font-size: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #777; }

.dropify-wrapper .dropify-preview .dropify-render .dropify-extension {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.03em;
  font-size: 13px;
  width: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.dropify-wrapper .dropify-preview .dropify-infos {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.15s linear; }

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner {
  position: absolute;
  top: 50%;
  transform: translate(0, -40%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  padding: 0 20px;
  transition: all 0.2s ease; }

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFF;
  text-align: center;
  line-height: 25px;
  font-weight: bold; }

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message {
  margin-top: 15px;
  padding-top: 15px;
  font-size: 12px;
  position: relative;
  opacity: 0.5; }

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: #FFF;
  width: 30px;
  height: 2px; }

.dropify-wrapper:hover .dropify-clear {
  opacity: 1; }

.dropify-wrapper:hover .dropify-preview .dropify-infos {
  opacity: 1; }

.dropify-wrapper:hover .dropify-preview .dropify-infos .dropify-infos-inner {
  margin-top: -5px; }

.dropify-wrapper.touch-fallback:hover {
  background-image: none;
  -webkit-animation: none;
  animation: none; }

.dropify-wrapper.touch-fallback .dropify-preview .dropify-render .dropify-font-file {
  position: relative;
  transform: translate(0, 0);
  top: 0;
  left: 0; }

.dropify-wrapper.touch-fallback .dropify-preview .dropify-render .dropify-font-file::before {
  margin-top: 30px;
  margin-bottom: 30px; }

.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos {
  position: relative;
  opacity: 1;
  background: transparent; }

.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner {
  position: relative;
  top: 0;
  transform: translate(0, 0);
  padding: 5px 90px 5px 0; }

.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
  text-align: left;
  line-height: 25px; }

.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename {
  font-weight: bold; }

.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message {
  margin-top: 0;
  padding-top: 0;
  font-size: 11px;
  position: relative;
  opacity: 1; }

.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message::before {
  display: none; }

.dropify-wrapper.touch-fallback .dropify-message {
  transform: translate(0, 0);
  padding: 40px 0; }

.dropify-wrapper.touch-fallback .dropify-clear {
  top: auto;
  bottom: 23px;
  opacity: 1;
  border-color: rgba(119, 119, 119, 0.7);
  color: #777; }

.dropify-wrapper.touch-fallback.has-preview .dropify-message {
  display: none; }

.dropify-wrapper.touch-fallback:hover .dropify-preview .dropify-infos .dropify-infos-inner {
  margin-top: 0; }

.dropify-wrapper .dropify-loader {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  z-index: 9; }

.dropify-wrapper .dropify-loader::after {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-animation: rotate 0.6s linear infinite;
  animation: rotate 0.6s linear infinite;
  border-radius: 100%;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #777;
  border-left: 1px solid #CCC;
  border-right: 1px solid #777;
  content: ''; }

.dropify-wrapper .dropify-errors-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(243, 65, 65, 0.8);
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.15s,opacity 0.15s linear; }

.dropify-wrapper .dropify-errors-container ul {
  padding: 10px 20px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

.dropify-wrapper .dropify-errors-container ul li {
  margin-left: 20px;
  color: #FFF;
  font-weight: bold; }

.dropify-wrapper .dropify-errors-container.visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

.dropify-wrapper ~ .dropify-errors-container ul {
  padding: 0;
  margin: 15px 0; }

.dropify-wrapper ~ .dropify-errors-container ul li {
  margin-left: 20px;
  color: #F34141;
  font-weight: bold; }

@-webkit-keyframes stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 60px 30px; } }

@keyframes stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 60px 30px; } }

@-webkit-keyframes rotate {
  0% {
    transform: rotateZ(-360deg); }
  100% {
    transform: rotateZ(0deg); } }

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg); }
  100% {
    transform: rotateZ(0deg); } }

.dropify-infos-inner {
  display: none; }

.dropify-wrapper .align-center {
  width: 100%;
  height: 100%; }

.dropify-wrapper.has-preview {
  border: none; }

.has-preview .dropify-preview {
  padding: 0; }

@charset "UTF-8";
body {
  background-color: #fff;
  font-family: 'Circe', Arial, sans-serif;
  font-size: 16px; }

.inner-container {
  max-width: 1169px;
  margin: 0 auto; }

.font-red, .go-home-link {
  color: #AB2328; }

.header-brand {
  z-index: 90;
  margin-left: -40px; }

.header-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end; }

.header-personal, .header-nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  cursor: pointer; }

.header-personal {
  margin-bottom: 8px; }

.go-home-link img {
  margin: 0 8px -1px 0; }

.main-header {
  padding-top: 20px;
  background: #fff;
  min-height: 122px; }

.btn {
  display: inline-block;
  padding: 7px 11px;
  border-radius: 5px;
  text-align: center; }
  .btn.big {
    font-size: 18px;
    padding: 15px 45px;
    font-variant: small-caps; }
  .btn.prize-btn {
    font-size: 16px;
    line-height: 18px;
    padding: 13px 11px;
    font-variant: small-caps;
    width: 165px;
    height: auto; }
  .btn.btn-info {
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 9px; }
  .btn.curse {
    font-variant: small-caps; }
  .btn:disabled, .btn[disabled], .btn.disabled {
    background-color: #C4C4C4;
    pointer-events: none; }

.btn-white {
  background-color: #fff;
  color: #7AA92E;
  border: 1px solid #7AA92E; }
  .btn-white:hover {
    background-color: rgba(122, 169, 46, 0.3); }

.btn-green {
  background-color: #7AA92E;
  color: #fff; }
  .btn-green:hover {
    background-color: #6c9529; }

.btn-yellow {
  background-color: #FFB81C;
  color: #000;
  font-weight: bold; }
  .btn-yellow:hover {
    background-color: #ffc036; }

.btn-red {
  background-color: #AB2328;
  color: #fff; }
  .btn-red:hover {
    background-color: #c0272d; }

.btn-reg {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-log {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-social {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 15px;
  background-color: #AB2328;
  margin: 0 6px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative; }

.log-btns {
  display: flex;
  justify-content: flex-start; }

.header-profile-list, .user-profile {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  background: #fff;
  padding: 10px 0; }
  .header-profile-list ul a, .user-profile ul a {
    font-size: 16px;
    line-height: 48px;
    padding: 0 42px;
    display: inline-block;
    width: 100%; }
    .header-profile-list ul a:hover, .user-profile ul a:hover {
      background-color: rgba(122, 169, 46, 0.3); }

.hover-fix {
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: transparent; }

.user-list-option {
  font-weight: bold; }

.user-list-number {
  float: right;
  color: #7AA92E;
  display: block;
  width: 30px;
  text-align: left; }

.header-user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 110px;
  position: relative; }
  .header-user-profile:hover > .header-profile-list, .header-user-profile:hover > .user-profile {
    display: block; }

.header-user-pic {
  width: 34px;
  height: 34px; }

.header-user-name {
  color: #7AA92E;
  margin: 0 10px;
  text-transform: capitalize; }

.btn-logout {
  width: 174px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; }

.header-nav-menu {
  margin-right: 20px; }
  .header-nav-menu a {
    color: #000;
    font-weight: bold;
    line-height: 24px;
    margin: 0 11px; }
  .header-nav-menu .active {
    border-bottom: 2px solid #FFB81C; }
  .header-nav-menu li {
    float: left;
    display: block; }

.reg-receipt {
  font-weight: bold;
  width: 234px;
  font-variant: small-caps; }
  .reg-receipt.big {
    width: 288px; }

.header-nav-desktop {
  margin-right: 19px; }

.header-brand a {
  float: left; }

.main-content {
  margin-top: -55px;
  z-index: 85;
  position: relative; }

.wide-redline-top {
  width: 100%;
  z-index: 85;
  position: absolute;
  left: 0;
  top: 0; }

.main-footer-contacts {
  background-color: #FFB81C;
  padding: 46px 0; }

.mail-us {
  font-variant: small-caps;
  float: left;
  padding: 13px 12px;
  margin-right: 20px; }
  .mail-us .mail-icon {
    margin: 0 0 -2px 10px; }

.main-footer-inner, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.footer-email {
  flex-basis: 60%; }

.footer-hotline p {
  font-weight: bold; }

.footer-hotline .phone-number {
  text-transform: capitalize;
  font-size: 40px;
  line-height: 45px;
  position: relative; }

.footer-hotline .phone-info {
  font-size: 18px;
  line-height: 23px;
  font-variant: small-caps; }

.phone-icon {
  position: absolute;
  left: -42px;
  top: 14px; }

.footer {
  max-width: 1206px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.footer-brand .footer-logo {
  width: 74px;
  height: 52px; }

.footer-soc-btns li {
  float: left;
  height: 32px; }

.btn-viber {
  font-variant: small-caps;
  font-size: 13px;
  line-height: 16px;
  background: #1BD741;
  color: #fff;
  padding: 7px; }
  .btn-viber img {
    margin: 0 10px -7px 0; }

.heading {
  font-weight: bold;
  font-size: 45px;
  line-height: 48px;
  text-align: center; }
  .heading.red {
    color: #AB2328; }

.red-promo-outer {
  padding: 55px 0; }

.red-promo {
  padding: 50px 21% 0 21%; }
  .red-promo .item-img {
    margin-bottom: 22px; }
  .red-promo .item-name {
    font-size: 21px;
    line-height: 24px; }
  .red-promo .item {
    flex-basis: 32%;
    margin-bottom: 20px; }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.item {
  text-align: center; }

.align-center {
  display: flex;
  align-items: center;
  justify-content: center; }
  .align-center.inline {
    display: inline-flex; }

.read-rules {
  font-size: 16px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-align: center;
  display: block;
  margin-top: 18px; }

.main-slider {
  padding-top: 8px; }
  .main-slider .slider-item {
    height: 515px;
    background-size: cover;
    background-position: center; }
  .main-slider .download-apps, .main-slider .reg-receipt {
    margin-top: 35px; }
  .main-slider .inner-container {
    height: 100%;
    display: flex;
    align-items: center; }

.slider-item {
  position: relative; }
  .slider-item p, .slider-item .slider-img, .slider-item a {
    position: relative;
    z-index: 90; }

.text-heading {
  font-weight: bold;
  font-size: 52px;
  line-height: 55px;
  color: #AB2328;
  margin-bottom: 15px; }

.text-supp {
  font-size: 30px;
  line-height: 32px; }

.main-slider .text-supp {
  margin-top: 15px; }

.main-slider .text-heading {
  margin-bottom: 0; }

/* Slick slider */
.slick-dots {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 39px;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    position: relative; }
  .slick-dots button {
    display: inline-block;
    font-size: 0;
    border: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 14px;
    width: 14px;
    margin: 0 7px; }
  .slick-dots .slick-active button {
    background: #AB2328; }

.slick-prev, .slick-next {
  background: url(../img/black-arrow.svg) no-repeat;
  width: 16px;
  height: 32px; }

.slick-prev {
  left: -25px; }

.slick-next {
  right: -25px;
  transform: rotate(180deg); }

/**/
.download-apps {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .download-apps a {
    margin-right: 19px; }
    .download-apps a:last-of-type {
      margin-right: 0; }

.wide-download-app {
  background: url(../img/bg-big-wood-2.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 454px;
  padding: 134px 0 45px; }
  .wide-download-app .text-heading {
    color: black;
    font-size: 55px; }
  .wide-download-app .text-supp {
    margin-bottom: 35px; }

.prize-slider-outer {
  background: url(../img/bg-gray-texture.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 52px 0; }

.prize-slider {
  margin: 30px 0 70px; }
  .prize-slider .prize-footer {
    height: 45px; }
  .prize-slider .prize-content {
    height: 244px; }
  .prize-slider .img-outer {
    height: 120px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column; }
    .prize-slider .img-outer img {
      max-height: 100%; }
  .prize-slider .prize-content-inner {
    display: block; }
  .prize-slider .prize-name {
    height: 44px;
    margin-bottom: 0; }
  .prize-slider p {
    width: 100%; }

.prize-item {
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 4px 7px;
  height: 289px;
  overflow: hidden;
  outline: none; }

.prize-name, .prize-price {
  text-align: center;
  font-weight: bold; }

.prize-name {
  font-size: 16px;
  line-height: 16px;
  margin: 16px 0 10px;
  padding: 0 10%; }
  .prize-name::first-letter {
    text-transform: uppercase; }

.prize-price {
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  text-transform: lowercase; }

.prize-content-inner {
  padding: 19px 7px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.prize-footer {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  font-variant: small-caps;
  padding: 9px 0; }
  .prize-footer.success {
    background-color: #7AA92E; }
  .prize-footer.nego {
    background-color: #C4C4C4; }
  .prize-footer.default {
    background-color: #FFB81C; }

.big-pool-promo {
  padding: 65px 0; }
  .big-pool-promo .heading {
    margin-bottom: 20px; }
  .big-pool-promo .text-supp {
    text-align: center; }
  .big-pool-promo .prize-name {
    margin: 0;
    padding: 0 13%;
    min-height: 32px; }
  .big-pool-promo .prize-item {
    height: 273px;
    min-width: 31%; }
  .big-pool-promo .prize-footer {
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px 0; }
  .big-pool-promo .prize-content {
    height: 190px;
    background-size: cover;
    background-position: center;
    position: relative; }
    .big-pool-promo .prize-content img {
      height: 100%; }
  .big-pool-promo .pool-list {
    margin: 20px 0; }

/* Social icons */
.icon-vk {
  background: url(../img/soc-vk.svg) #AB2328 no-repeat center; }

.icon-ok {
  background: url(../img/soc-ok.svg) #AB2328 no-repeat center; }

.icon-face {
  background: url(../img/soc-face.svg) #AB2328 no-repeat center; }

.icon-insta {
  background: url(../img/soc-insta.svg) #AB2328 no-repeat center; }

.icon-youtube {
  background: url(../img/soc-youtube.svg) #AB2328 no-repeat center; }

.icon-star {
  background: url(../img/soc-star.svg) #AB2328 no-repeat center; }

/**/
.icon-prize {
  position: absolute;
  top: 4px;
  left: 12px; }

.btn-prize {
  position: relative;
  width: 234px;
  padding-left: 22px; }

.burger {
  position: absolute;
  display: none;
  top: 0;
  right: 15px;
  margin: auto;
  width: 32px;
  height: 32px;
  background: url(../img/icon-burger.svg) no-repeat center;
  transition: none;
  z-index: 145; }
  .burger.active {
    background: url(../img/icon-close.svg) no-repeat center; }

.rules-link {
  color: #AB2328; }

.btn-wrap {
  text-align: center; }

.link-reg {
  margin-top: 5px;
  color: #AB2328; }

.prizes-are-real {
  text-transform: lowercase; }

.main-content-header {
  background-image: url(../img/bg-prize-boxes.png);
  background-size: cover;
  height: 336px; }
  .main-content-header .heading {
    text-align: left;
    font-size: 52px;
    line-height: 77px; }

.align-center-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }

.user-profile {
  display: block;
  position: relative;
  width: 291px;
  top: 0;
  left: 0;
  padding: 19px 0 44px;
  margin-top: -66px; }
  .user-profile .user-list-option {
    font-weight: normal; }
  .user-profile li.active {
    background-color: rgba(122, 169, 46, 0.3); }

.personal-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.user-profile-pic {
  width: 110x;
  height: 110px; }

.personal-content-inner {
  margin-top: 25px;
  flex-basis: 67%; }
  .personal-content-inner .heading {
    font-size: 40px;
    line-height: 59px;
    text-align: left; }
  .personal-content-inner label {
    width: 185px; }
  .personal-content-inner .input-field {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start; }

.data-section {
  margin-bottom: 44px; }
  .data-section .btn {
    margin-left: 185px; }
  .data-section .heading {
    font-size: 40px;
    line-height: 59px;
    margin-bottom: 11px; }

.pass-section {
  margin: 30px 0 60px; }
  .pass-section .btn {
    margin-left: 185px; }
  .pass-section .heading {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 13px; }

.day-of-birth {
  display: flex;
  justify-content: space-between; }

.personal-settings {
  margin-top: 10px; }

hr {
  color: #C4C4C4; }

.txt-green {
  color: #7AA92E; }

.table {
  width: 100%;
  text-align: center; }
  .table .table-head, .table .inner {
    color: #000;
    opacity: 0.6; }
  .table .table-body {
    font-weight: bold;
    max-height: 341px;
    overflow-y: auto; }
  .table .check-photo {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    background-size: cover;
    background-position: center; }
  .table .table-row {
    display: flex;
    height: 57px;
    align-items: center;
    justify-content: space-between; }
  .table .inner {
    display: none; }
  .table .bad-check .inner-status-content {
    color: #AB2328;
    text-decoration: underline; }
  .table .bad-check .check-photo {
    border: 2px solid #AB2328; }
  .table .bad-check .inner-coins-content {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/icon-no-prize.svg) no-repeat; }

.personal-coins {
  margin-bottom: 59px; }

.check-table {
  margin-bottom: 40px; }
  .check-table .cell-date {
    order: 1;
    flex-basis: 17%; }
  .check-table .cell-photo {
    order: 2;
    flex-basis: 25%; }
  .check-table .cell-status {
    order: 3;
    flex-basis: 25%; }
  .check-table .cell-coins {
    order: 4;
    flex-basis: 33%; }

.personal-check {
  padding-bottom: 59px; }

.coins-table .inner {
  display: block; }

.coins-table .table-row {
  align-items: flex-start;
  text-align: left;
  min-height: 57px; }

.coins-table .cell-date {
  flex-basis: 20%;
  text-align: center; }

.coins-table .cell-desc {
  flex-basis: 53%; }

.coins-table .cell-coins {
  flex-basis: 22%;
  text-align: center; }

.coins-table .success .inner-coins-content {
  color: #7AA92E; }

.coins-table .fail .inner-coins-content {
  color: #AB2328; }

.how-to-get-coins {
  margin-top: 43px; }
  .how-to-get-coins .prize-content-inner {
    justify-content: flex-start; }
  .how-to-get-coins .table-container {
    margin-bottom: 15px; }
  .how-to-get-coins .prize-item {
    height: 215px;
    width: 189px;
    margin-bottom: 15px; }
    .how-to-get-coins .prize-item:first-of-type {
      margin-left: 0; }
    .how-to-get-coins .prize-item:last-of-type {
      margin-right: 0; }
    .how-to-get-coins .prize-item .prize-name {
      margin: 0;
      padding: 0 6%; }
    .how-to-get-coins .prize-item .prize-item-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%; }
    .how-to-get-coins .prize-item .prize-price {
      color: #7AA92E;
      font-weight: bold;
      font-size: 31px;
      line-height: 31px;
      padding: 25px 0; }
    .how-to-get-coins .prize-item .prize-content {
      height: 100%; }
    .how-to-get-coins .prize-item .prize-content-inner {
      padding-left: 0;
      padding-right: 0; }
  .how-to-get-coins .heading {
    color: #AB2328;
    font-size: 31px;
    line-height: 46px; }
  .how-to-get-coins .prize-container {
    margin-top: 19px; }
    .how-to-get-coins .prize-container .prize-item:nth-child(3n+1) {
      margin-left: 0; }

.personal-head {
  margin-bottom: 15px; }

.choose-prize .prize-row {
  width: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 15px; }
  .choose-prize .prize-row:nth-last-child {
    margin-bottom: 0; }

.choose-prize .labels-row, .choose-prize .content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .choose-prize .labels-row p, .choose-prize .content-row p {
    text-align: center; }

.choose-prize .labels-row {
  margin-bottom: 10px; }
  .choose-prize .labels-row p {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4; }

.choose-prize .content-row p {
  font-weight: bold; }

.choose-prize .photo-col {
  flex-basis: 18%; }

.choose-prize .name-col {
  flex-basis: 18%; }

.choose-prize .coins-col {
  flex-basis: 18%; }

.choose-prize .date-col {
  flex-basis: 12%; }

.choose-prize .status-col {
  flex-basis: 28%; }

.choose-prize .prize-row-photo {
  height: 90px;
  overflow: hidden; }

.choose-prize .status-pending, .choose-prize .status-sended, .choose-prize .status-received {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  font-variant: small-caps;
  cursor: default; }

.choose-prize .status-received {
  color: #7AA92E; }

.choose-prize .status-sended {
  color: #AB2328; }

.choose-prize .status-pending {
  color: #8A8A8A; }

.prize-item.success .prize-footer {
  background-color: #7AA92E; }

.prize-item.nego .prize-footer {
  background-color: #C4C4C4; }

.prize-item.default .prize-footer {
  background-color: #FFB81C; }

.personal-prizes {
  margin-bottom: 65px; }
  .personal-prizes .prize-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center; }

.prize-preview {
  height: 143px;
  width: auto; }

.header-cut {
  margin-top: -67px;
  background-color: #fff; }

.prizes-content {
  padding-top: 52px; }
  .prizes-content .heading {
    font-size: 40px; }
  .prizes-content .prize-item.not-available {
    cursor: default; }
    .prizes-content .prize-item.not-available img {
      opacity: 0.5;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    .prizes-content .prize-item.not-available .prize-footer {
      background-color: #C4C4C4; }

.heading-supp {
  text-align: center;
  font-weight: bold;
  font-size: 20px; }

.level-container {
  background-color: #E5E5E5;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 32px 27px;
  margin: 26px 0; }
  .level-container:first-of-type {
    margin-top: 32px; }
  .level-container.no-coins .prize-content-inner img {
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

.lvl-info {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.lvl-desc {
  font-size: 21px;
  line-height: 31px;
  font-weight: 300; }

.lvl-roll-price {
  font-weight: bold;
  font-size: 32px;
  line-height: 47px;
  margin-bottom: 20px; }

.roll-prizes {
  flex-basis: 65%;
  max-width: 65%; }
  .roll-prizes .prize-item {
    margin: 4px 9px; }
  .roll-prizes .prize-name {
    height: 50px;
    width: 100%;
    font-size: 23px;
    line-height: 25px;
    padding: 0 6%;
    margin-bottom: 13px;
    z-index: 5; }
  .roll-prizes .prize-content-inner {
    padding-top: 12px;
    padding-bottom: 12px; }
    .roll-prizes .prize-content-inner .align-center {
      width: 100%;
      height: 141px; }
  .roll-prizes .prize-content {
    height: 244px; }
  .roll-prizes .prize-catalogue-slider {
    padding: 0 20px;
    max-width: 100%; }
  .roll-prizes .slick-next {
    right: -10px; }
  .roll-prizes .slick-prev {
    left: -10px; }

.wide-chicken-help {
  background: url(../img/mrsChicken.png) no-repeat left bottom;
  height: 310px;
  background-size: contain;
  margin-top: 25px;
  padding: 60px 20px 0 241px; }
  .wide-chicken-help p {
    font-size: 18px;
    line-height: 27px; }
  .wide-chicken-help.mirror {
    transform: scale(-1, 1);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2; }
  .wide-chicken-help.rules {
    position: relative;
    margin-top: -85px;
    min-height: 260px;
    padding: 105px 0 0 200px;
    /* we rotating it, so padding works not as normal */ }
    .wide-chicken-help.rules p {
      transform: scale(-1, 1);
      font-size: 16px;
      line-height: 24px;
      text-align: left; }

.boxes-v2 {
  background-image: url(../img/bg-prize-boxes-winter-2020-min.jpg);
  height: 269px; }

.roll-results-content .heading-supp {
  font-size: 30px;
  line-height: 32px;
  font-weight: normal;
  text-align: center; }

.countdown {
  display: flex; }

.countdown-outer {
  background-color: #FFB81C;
  padding: 30px 57px;
  border-radius: 8px; }

.time-item {
  text-align: center;
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-weight: bold; }
  .time-item .time-self {
    font-size: 34px;
    line-height: 32px; }
  .time-item .time-label {
    font-size: 14px;
    line-height: 21px; }

.countdown-announce {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px; }

.countdown-init-hidden {
  display: none;
  width: 0;
  height: 0; }

.between {
  display: inline-block;
  font-size: 50px;
  line-height: 78px;
  color: #fff;
  margin: 0 8px; }

.roll-part, .rules-part {
  padding: 50px 9%; }

.countdown-container {
  margin-bottom: 36px; }

.part-2, .part-4, .rule-2, .rule-4 {
  background: url(../img/bg-gray-texture.png) no-repeat;
  background-size: cover;
  background-position: center; }

.part-2 .txt-download {
  text-align: center;
  font-size: 20px;
  line-height: 32px; }

.part-2 .download-apps {
  margin-top: 10px;
  justify-content: center; }

.part-4 .possible-win {
  display: flex;
  justify-content: space-between;
  margin: 50px 0; }
  .part-4 .possible-win p {
    cursor: default; }
  .part-4 .possible-win .prize-item {
    height: auto;
    flex-basis: 31%; }
    .part-4 .possible-win .prize-item:first-of-type {
      margin-left: 0; }
    .part-4 .possible-win .prize-item:last-of-type {
      margin-right: 0; }
  .part-4 .possible-win .prize-content {
    height: 184px;
    background-size: cover;
    background-position: center;
    position: relative; }
  .part-4 .possible-win .prize-footer {
    height: 88px;
    flex-direction: column; }
  .part-4 .possible-win .prize-name, .part-4 .possible-win .prize-price {
    margin: 0;
    padding: 0; }
  .part-4 .possible-win .prize-name {
    min-height: 32px;
    padding: 0 5%; }

.part-5 .link-to-rules {
  color: #AB2328;
  text-decoration: underline; }

.part-5 p:first-of-type {
  margin-bottom: 30px; }

.popups-list-for-fun li {
  margin: 5px 0; }

.popup-txt-supp, .enter-another-address, .decline-prize-txt, .try-again-txt {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline; }

.decline-prize-txt, .try-again-txt {
  font-variant: small-caps;
  font-weight: bold; }

.try-again-txt {
  -webkit-text-decoration-line: none;
  text-decoration-line: none; }
  .try-again-txt img {
    margin: 0 5px -3px; }

.popup-prize-item {
  margin-bottom: 20px; }
  .popup-prize-item .prize-img {
    padding: 0 40px; }
    .popup-prize-item .prize-img img {
      width: 100%;
      height: auto; }

.popup-prize-name {
  font-size: 23px;
  line-height: 35px;
  font-weight: bold; }

.popup .popup-prize-info {
  text-align: left; }

.prize-cost {
  font-weight: bold; }

.txt-mid {
  text-align: center; }

.enroll-pic {
  width: 53px;
  height: 53px;
  border-radius: 35px;
  background-size: cover;
  background-position: center;
  margin-right: 20px; }

.enroll-price-list .item {
  padding: 7px 10px;
  background-color: #FFB81C;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 17px; }
  .enroll-price-list .item:last-of-type {
    margin-bottom: 0; }

.enroll-info {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px; }

.txt-bold {
  font-weight: bold; }

.popup-inner .spend-coins {
  font-size: 22px;
  line-height: 24px;
  margin: 30px 0; }

.popup-inner .roll-results-announce {
  margin: 30px 0; }

.popup-winner-item {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px; }
  .popup-winner-item .winner-footer {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    background-color: #C4C4C4;
    padding: 7px 7%; }

.prize-img {
  font-size: 0;
  line-height: 0; }

.faq-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .faq-content a {
    color: #7AA92E; }

.faq-wrap {
  flex-basis: 47%;
  z-index: 20; }

.feedback-wrap {
  flex-basis: 45%; }

.faq-content {
  padding-top: 50px; }

.faq-item-title {
  padding-left: 40px;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  position: relative;
  cursor: pointer; }
  .faq-item-title::before {
    content: '+';
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -4px;
    left: 0;
    width: 31px;
    height: 31px;
    font-size: 27px;
    font-weight: bold;
    color: #000;
    background: #FFB81C;
    border-radius: 10px; }
  .faq-item-title.active::before {
    content: '–';
    background-color: #C4C4C4; }

.faq-item-text {
  display: none;
  font-size: 18px;
  line-height: 27px;
  padding: 19px 0 0 40px; }

.faq-item {
  margin: 40px 0; }
  .faq-item:first-of-type {
    margin-top: 0; }
  .faq-item:last-of-type {
    margin-bottom: 0; }

.feedback-wrap {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #E5E5E5;
  padding: 20px 43px; }

.feedback-title {
  color: #AB2328;
  font-weight: bold;
  font-size: 36px;
  line-height: 38px;
  text-align: center; }

.feedback-desc {
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0 37px;
  text-align: center;
  letter-spacing: -0.02em; }

.relative {
  position: relative; }

.rules-content .heading {
  font-size: 40px;
  line-height: 1;
  text-align: center; }

.rules-content .link-bold-green {
  margin-top: 15px;
  width: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 5; }

.step-name {
  color: #AB2328;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  text-align: center; }

.step-desc {
  font-size: 20px;
  line-height: 22px;
  text-align: center; }

.how-to-reg {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .how-to-reg .item {
    padding: 0 45px; }
    .how-to-reg .item img {
      max-width: 100%; }
  .how-to-reg .img-wrap {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center; }

.trades-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px; }
  .trades-imgs .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 101px;
    height: 101px;
    border-radius: 60px;
    border: 2px solid #fff;
    margin: 0 8px; }
  .trades-imgs.small .item {
    background-size: contain; }

.coins-exchange {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 45px; }

.possible-trades {
  flex-basis: 50%; }

.trades-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.trade-rule {
  margin-bottom: 32px; }

.trade-heading {
  color: #AB2328;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px; }

.brand-i-border {
  border: 1px solid #C4C4C4 !important;
  border-radius: 35px; }

.trade-heading, .trade-rule {
  width: 55%;
  text-align: center; }

.item-chicken {
  min-height: 110px;
  border-radius: 0 !important;
  width: 100% !important;
  background-size: contain !important; }

.prize-brand-item {
  padding: 20px;
  margin-bottom: 13px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  background-color: #fff;
  display: inline-block;
  width: 100%; }
  .prize-brand-item .item-preview {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between; }
    .prize-brand-item .item-preview p {
      text-align: left; }
    .prize-brand-item .item-preview .item-part {
      display: flex;
      align-items: center;
      justify-content: center; }
      .prize-brand-item .item-preview .item-part.text {
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        position: absolute;
        padding: 7px 0 0 65px; }
    .prize-brand-item .item-preview .arrow {
      transform: rotate(270deg);
      transition: all .3s linear; }
    .prize-brand-item .item-preview .prize-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px; }
    .prize-brand-item .item-preview .prize-desc {
      font-size: 14px;
      line-height: 18px; }
    .prize-brand-item .item-preview .icon {
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center; }
    .prize-brand-item .item-preview.active {
      margin-bottom: 22px; }
  .prize-brand-item .item-content {
    display: none;
    cursor: default;
    padding: 0 8px 0;
    height: 200px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #272727; }
  .prize-brand-item ul {
    list-style: disc inside; }
    .prize-brand-item ul li {
      margin-bottom: 2px; }
      .prize-brand-item ul li:last-of-type {
        margin-bottom: 0; }
  .prize-brand-item:last-of-type {
    margin-bottom: 0; }
  .prize-brand-item.active .arrow {
    transform: rotate(360deg); }

.first-check-heading {
  line-height: 26px !important;
  text-transform: none !important;
  margin-bottom: 15px; }

.prize-decorate {
  font-weight: bold; }

.small-info {
  color: #C4C4C4;
  font-size: 14px;
  line-height: 15px;
  text-align: center; }

.popup-prize-brand-wrap {
  margin-bottom: 20px; }

.btn.take-prize {
  display: none;
  margin-top: 17px;
  width: 150px !important;
  height: 41px !important; }

.active .btn.take-prize {
  display: inline-block; }

.fake {
  box-shadow: none;
  height: 1px !important;
  pointer-events: none; }

.user-status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px; }

.status-label {
  font-size: 15px;
  line-height: 21px;
  text-transform: capitalize;
  color: #000000;
  opacity: 0.6; }

.status-itself {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  font-variant: small-caps;
  color: #AB2328; }

.status-desc {
  padding-left: 3px; }

.link-bold-green {
  font-variant: small-caps;
  font-size: 21px;
  line-height: 34px;
  color: #7AA92E;
  text-decoration: underline; }

.personal-data-announce {
  font-weight: bold;
  font-size: 19px;
  line-height: 21px;
  margin-top: 20px; }

#personal-data textarea {
  min-height: 86px; }

.group-label {
  padding-left: 24px;
  color: #7AA92E;
  font-size: 18px;
  line-height: 20px;
  opacity: 0.5;
  margin: 20px 0 10px; }

.username-hardcoded {
  padding-left: 24px;
  font-weight: bold;
  font-size: 21px;
  line-height: 22px; }

.pass-data {
  display: flex;
  justify-content: space-between; }

.pass-series {
  flex-basis: 37%; }

.pass-number {
  flex-basis: 57%; }

.file-input-group {
  display: flex;
  align-items: center; }
  .file-input-group.dropify-error label {
    color: #AB2328; }
  .file-input-group.dropify-error span.error {
    display: none !important; }
  .file-input-group label {
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    width: 55%; }

.upload-status .reupload-photo {
  display: none; }

.upload-status .upload-photo {
  display: block; }

.has-preview.touch-fallback .upload-status {
  display: none; }

.has-preview.touch-fallback .dropify-clear {
  display: none !important; }

.reupload .reupload-photo {
  display: block; }

.reupload .upload-photo {
  display: none; }

.winners-chicken {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20%; }
  .winners-chicken p {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    margin: 50px 0 30px; }

.enroll-btn {
  width: auto !important; }

.winners-header {
  background-image: url(../img/bg-boxes-v3.jpg);
  background-position: center; }

.tier-1 {
  margin-top: 35px; }

.winners {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  height: 262px;
  margin-bottom: 30px; }
  .winners:nth-last-child {
    margin-bottom: 0; }
  .winners .prize {
    flex-basis: 54%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFB81C;
    line-height: 0;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .winners .prize-photo {
    flex-basis: 55%;
    height: 100%; }
    .winners .prize-photo img {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
  .winners .prize-desc {
    flex-basis: 45%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
    padding-left: 29px;
    display: flex;
    flex-direction: column; }
    .winners .prize-desc p {
      padding: 0;
      margin: 0;
      text-align: left; }
  .winners .prize-name-outer {
    height: 154px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px; }
  .winners .prize-name {
    font-weight: bold;
    font-size: 27px;
    line-height: 33px; }
  .winners .prize-price {
    font-size: 25px;
    line-height: 18px;
    font-weight: normal; }
  .winners .winners-list {
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px 10px; }
    .winners .winners-list p {
      font-size: 22px;
      line-height: 15px;
      font-variant: small-caps;
      margin-bottom: 15px; }
    .winners .winners-list li {
      font-size: 25px;
      line-height: 38px; }
  .winners .winners-list-inner {
    width: 100%;
    text-align: center; }

.small-icon {
  width: 22px;
  height: 22px; }

.prize-summ-label {
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  width: 60px; }

.prize-summ-count {
  font-weight: bold;
  font-size: 34px;
  line-height: 32px;
  margin-right: 8px; }

.prize-summ-sep {
  font-weight: bold;
  font-size: 38px;
  line-height: 18px;
  padding-bottom: 3px;
  margin-right: 8px; }

.prize-quantity {
  position: absolute;
  width: 88px;
  top: 55px;
  right: 0;
  background-color: #AB2328;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }
  .prize-quantity p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase; }
    .prize-quantity p.quantity {
      font-size: 42px;
      font-weight: bold; }

.winter-bg-boxes-and-tree {
  background-image: url(/img/bg-winter-boxes-and-tree-min.jpg); }

.winter-bg-boxes-and-snow {
  background-image: url(/img/bg-winter-boxes-and-snow-min.jpg); }

@media (max-width: 1280px) {
  .header-brand {
    margin-left: 0; }
    .header-brand .go-home-link {
      display: none; } }

@media (max-width: 1167px) {
  .roll-prizes {
    display: flex;
    justify-content: space-between; }
  .level-container {
    margin-left: 20px;
    margin-right: 20px; }
  .wide-chicken-help.rules {
    padding: 85px 0 0 220px; }
  .winners .winners-list li {
    font-size: 23px;
    line-height: 31px; }
  .header-nav-menu a {
    margin: 0 5px; }
  .slide-content {
    padding: 0 15px; } }

@media (max-width: 1000px) {
  .main-container {
    max-width: 375px; }
  .main-slider {
    padding-top: 0; }
  .row {
    flex-direction: column; }
  .download-apps {
    flex-direction: column;
    align-items: center; }
    .download-apps a {
      margin: 0 0 20px 0; }
  .text-heading, .text-supp {
    text-align: center; }
  .text-supp {
    font-size: 18px;
    line-height: 24px; }
  .heading, .text-heading {
    font-size: 28px;
    line-height: 31px; }
  .btn, .btn.big {
    width: 243px;
    height: 50px;
    line-height: 34px;
    padding: 7px; }
  .slide-content {
    margin-top: 0;
    height: 100%;
    width: 100%;
    padding: 0 14%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
  .main-slider .inner-container {
    height: 100%; }
  .big-pool-promo {
    padding: 48px 20px; }
  .pool-list .prize-item {
    margin-bottom: 32px; }
    .pool-list .prize-item:nth-last-child() {
      margin-bottom: 0; }
  .personal-content-inner .input-field {
    display: flex; }
  .header-brand {
    width: 117px;
    height: auto;
    display: block;
    margin: 0 auto; }
  .header-container {
    display: none;
    z-index: 140; }
    .header-container.active {
      display: flex;
      position: absolute;
      width: 100%;
      background-color: #fff;
      align-items: center; }
  .header-nav, .header-nav-menu, .header-nav li {
    width: 100%;
    align-items: center; }
  .header-nav {
    order: 1; }
    .header-nav a {
      font-weight: bold;
      font-size: 24px;
      line-height: 35px; }
    .header-nav li {
      float: none;
      text-align: center; }
    .header-nav .reg-receipt {
      display: none; }
  .burger {
    display: block; }
  .header-user-profile {
    margin-right: 0;
    order: 2; }
  .btn-prize {
    padding-left: 28px; }
  .icon-prize {
    top: 10px;
    left: 12px; }
  .header-personal, .header-nav, .log-btns {
    flex-direction: column;
    align-items: center; }
  .log-btns {
    order: 1;
    margin: 30px 0; }
    .log-btns .btn-log {
      margin-bottom: 8px; }
    .log-btns .btn {
      font-size: 18px; }
  .btn-log, .btn-reg {
    border: 1px solid #7AA92E;
    border-radius: 5px; }
  .header-personal {
    order: 2; }
    .header-personal .header-profile-list, .header-personal .hover-fix, .header-personal .header-user-arrow {
      display: none !important; }
  .mobile-redline {
    order: 3;
    margin-bottom: -65px; }
  .wide-download-app {
    padding: 50px 19% 0; }
    .wide-download-app .text-heading {
      font-size: 28px;
      line-height: 31px;
      margin-bottom: 22px; }
    .wide-download-app .text-supp {
      margin-bottom: 24px; }
  .main-footer-inner {
    flex-direction: column; }
  .footer-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 0 10%;
    text-align: center; }
    .footer-email .mail-us {
      order: 2;
      margin: 24px 0; }
  .footer {
    flex-direction: column;
    padding: 32px 15px 23px; }
    .footer .btn-viber {
      order: 1; }
    .footer .prizes-are-real {
      order: 2;
      margin: 32px 0;
      font-size: 14px;
      line-height: 16px; }
    .footer .footer-brand {
      order: 3; }
    .footer .go-home-link {
      order: 4;
      margin: 3px 0; }
      .footer .go-home-link img {
        display: none; }
    .footer .footer-soc-btns {
      order: 5; }
  .footer-hotline .phone-number {
    font-size: 27px;
    line-height: 40px; }
  .footer-hotline .phone-info {
    font-size: 16px;
    line-height: 24px; }
  .footer-hotline .phone-icon {
    width: 19px;
    height: 19px;
    left: -26px;
    top: 10px; }
  .popup .btn {
    max-width: 100%; }
  .popups .popup-wrap {
    padding: 25px 15px; }
  .popup {
    padding-top: 10%; }
  .close-popup {
    top: 10px;
    right: 10px; }
  .main-content-header {
    height: 375px;
    background-position: center;
    background-image: url(../img/bg-prize-boxes-mobile.png); }
    .main-content-header .heading {
      text-align: center;
      font-size: 28px;
      line-height: 31px; }
  .user-profile-pic {
    width: 74px;
    height: 74px; }
  .personal-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px; }
  .personal-settings .btn {
    margin-left: 0; }
  .table .check-table thead {
    display: none; }
  .table .inner {
    display: block; }
  .table .check-photo {
    width: 32px;
    height: 32px; }
  .table .table-row {
    padding: 0 15px; }
  .table .inner-date-content, .table .inner-status-content, .table .inner-coins-content, .table .inner-desc-content {
    font-size: 14px;
    line-height: 21px; }
  .check-table, .coins-table {
    width: 100%;
    position: absolute;
    display: block;
    left: 0;
    right: 0; }
  .check-table .table-head {
    display: none; }
  .check-table .cell-date {
    order: 2;
    flex-basis: 26%; }
  .check-table .cell-photo {
    order: 1;
    flex-basis: 13%; }
  .check-table .cell-coins {
    flex-basis: 30%; }
  .check-table .cell-status {
    flex-basis: 31%; }
  .coins-outer {
    text-align: center; }
  .coins-table .inner {
    opacity: 1; }
  .coins-table .table-head {
    font-size: 12px;
    line-height: 18px; }
  .coins-table .table-row {
    min-height: auto;
    height: auto;
    padding: 15px; }
  .coins-table .cell-date {
    flex-basis: 26%;
    line-height: 18px;
    text-align: left; }
  .coins-table .cell-desc {
    flex-basis: 62%; }
  .coins-table .cell-coins {
    flex-basis: 12%;
    text-align: left; }
  .coins-table .inner-desc-content, .coins-table .inner-desc {
    font-weight: normal; }
  .header-nav-menu {
    margin-right: 0; }
  .table-body {
    text-align: left; }
    .table-body .table-row:nth-child(even) {
      background-color: rgba(122, 169, 46, 0.2); }
  .how-to-get-coins .heading {
    font-size: 21px;
    line-height: 31px; }
  .table-row .inner {
    font-size: 12px;
    line-height: 18px; }
  .personal-check .heading {
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    margin-bottom: 30px; }
  .table-container {
    min-height: 361px; }
  .personal-coins .table-container {
    min-height: 415px; }
  .personal-head {
    margin-bottom: 32px; }
    .personal-head .heading {
      font-size: 28px;
      line-height: 31px;
      order: 2;
      margin-top: 15px; }
    .personal-head .btn {
      order: 1; }
  .personal-content-inner {
    width: 100%; }
  .reg-new-check {
    display: block;
    margin: 0 auto; }
  .personal-prizes .prize-item {
    width: 350px;
    margin: 0 0 24px; }
  .level-container {
    flex-direction: column; }
  .prizes-content .heading {
    font-size: 28px;
    line-height: 31px; }
  .prizes-content .heading-supp {
    font-size: 18px;
    line-height: 24px; }
  .prizes-content .heading, .prizes-content .heading-supp {
    padding-left: 20px;
    padding-right: 20px; }
  .lvl-info {
    margin-bottom: 30px; }
  .lvl-roll-price {
    margin-bottom: 7px; }
  .roll-prizes {
    order: 2; }
  .lvl-info {
    order: 1; }
  .wide-chicken-help {
    padding-top: 46px; }
  .main-content-header {
    height: 280px; }
  .header-cut {
    margin-top: -35px; }
  .roll-results-content .heading-supp {
    font-size: 21px;
    line-height: 26px; }
  .roll-results-content .roll-part {
    padding: 42px 9%; }
  .time-item {
    width: 60px;
    height: 60px; }
  .between {
    line-height: 54px; }
  .countdown-outer {
    padding-left: 46px;
    padding-right: 46px; }
  .possible-win {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .possible-win .prize-item {
      margin: 0 0 32px; }
      .possible-win .prize-item:last-of-type {
        margin: 0; }
  .prize-slider {
    margin-bottom: 42px; }
  .part-4 .possible-win .prize-item {
    width: 100%; }
  .faq-content {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center; }
  .faq-wrap {
    margin-bottom: 45px; }
  .faq-item-text {
    padding-top: 16px; }
  .faq-item {
    margin: 25px 0; }
  textarea {
    min-height: 136px; }
  .feedback-title {
    font-size: 28px;
    line-height: 31px; }
  .feedback-desc {
    margin-bottom: 32px; }
  .wide-chicken-help.mirror {
    position: relative;
    background: url(../img/mrsChicken.png) no-repeat left bottom;
    padding: 0;
    background-size: contain;
    margin-top: -100px; }
  .wide-chicken-help.rules {
    background: url(../img/mrsChicken-halfdead.png) no-repeat left bottom;
    margin-top: 0;
    padding: 32px 20px; }
  .how-to-reg {
    flex-direction: column; }
    .how-to-reg .item {
      margin-bottom: 20px; }
      .how-to-reg .item:last-of-type {
        margin-bottom: 0; }
  .rules-content .heading {
    font-size: 28px;
    line-height: 31px; }
  .coins-exchange {
    flex-direction: column; }
  .possible-trades {
    margin-bottom: 45px;
    width: 60%; }
    .possible-trades:last-of-type {
      margin-bottom: 0; }
  .trade-heading, .trade-rule {
    width: 100%; }
  .mobile-special .heading {
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    color: #AB2328;
    padding: 0 11px; }
  .mobile-special p {
    text-align: center;
    font-size: 20px;
    line-height: 40px; }
  .mobile-special .btn-viber {
    font-size: 18px; }
  .mobile-special .welcome-prize-list {
    margin-top: 29px; }
  .mobile-special .download-apps a:last-of-type {
    margin-bottom: 0; }
  .mobile-special .reg-in-whatsapp, .mobile-special .reg-in-app, .mobile-special .reg-on-site {
    margin-bottom: 33px; }
    .mobile-special .reg-in-whatsapp:last-of-type, .mobile-special .reg-in-app:last-of-type, .mobile-special .reg-on-site:last-of-type {
      margin-bottom: 0; }
  .mobile-special .reg-on-site {
    margin-top: 25px; }
  .mobile-special .how-to-reg-mobile {
    padding: 30px 0; }
  .mobile-special .welcome-prize {
    padding: 80px 28px 47px;
    background: url(../img/bg-gray-texture.png) no-repeat;
    background-size: auto; }
  .mobile-special .main-footer-contacts {
    padding: 16px 0; }
  .mobile-special .footer {
    padding: 9px 0 15px; }
  .boxes-v2 {
    background-image: url(../img/bg-special-prize-boxes-mobile.png); }
  .winners-chicken p {
    margin-top: 0; }
  .winners-header {
    background-image: url(../img/bg-special-prize-boxes-mobile.png); }
  .winners {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 600px; }
    .winners .prize {
      flex-direction: column; }
    .winners .prize-desc, .winners .prize-photo, .winners .prize {
      flex-basis: unset; }
    .winners .prize-photo img {
      border-radius: 0; }
    .winners .prize-desc {
      padding: 15px 0; }
      .winners .prize-desc p {
        text-align: center; }
    .winners .prize-name {
      font-size: 14px;
      line-height: 16px; }
    .winners .prize-price {
      font-size: 21px;
      line-height: 18px; }
    .winners .prize-name-outer {
      height: auto;
      margin-bottom: 10px; }
  .winners-list-inner {
    max-height: 190px; }
  .btn-info {
    order: 3 !important;
    margin-top: 20px; }
  .pool-list .prize-item {
    width: 380px; }
  .roll-prizes {
    max-width: 100%; } }

@media (max-width: 800px) {
  .mobile-redline {
    margin-bottom: -45px; }
  .wide-chicken-help {
    padding-top: 15px; }
  .possible-trades {
    width: 100%; }
  .trades-imgs {
    justify-content: space-between; }
    .trades-imgs .item {
      margin: 0; } }

@media (max-width: 700px) {
  .wide-chicken-help {
    background: url(../img/mrsChicken-halfdead.png) no-repeat left bottom;
    padding: 40px 30px 0; }
    .wide-chicken-help p {
      font-size: 18px;
      line-height: 25px;
      text-align: center; }
  .winners-chicken {
    padding: 30px 0 0 !important; }
    .winners-chicken p {
      padding: 0 12%;
      font-size: 21px;
      line-height: 32px; } }

@media (max-width: 650px) {
  .personal-content .input-field label, .personal-content .input-field input:not([type="checkbox"]), .personal-content .input-field textarea, .personal-content .select2-container .select2-selection--single, .personal-content .select, .personal-content .day-of-birth {
    width: 100%; }
  .personal-content .input-field label {
    display: block;
    font-size: 12px;
    line-height: 18px;
    padding-left: 15px; }
  .personal-content-inner .input-field {
    flex-direction: column;
    display: inline-flex; }
  .data-section {
    margin-bottom: 32px; }
    .data-section .heading {
      font-size: 28px;
      line-height: 31px;
      text-align: center;
      margin-bottom: 15px; }
  .pass-section {
    margin: 30px 0 48px; }
    .pass-section .heading {
      font-size: 21px;
      line-height: 31px;
      text-align: center;
      margin-bottom: 15px; }
  .personal-settings .btn {
    margin: 17px auto 0;
    display: block; }
  .input-field {
    width: 100%; }
  .personal-coins {
    margin-bottom: 42px; }
    .personal-coins .prize-container {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .personal-coins .prize-item {
      width: 245px;
      height: 180px;
      margin: 0 0 24px; }
  .prize-container {
    margin-top: 30px; }
  .how-to-get-coins .table-container {
    min-height: 415px; }
  .how-to-get-coins .prize-item .prize-price {
    padding: 15px 0; }
  .roll-prizes .prize-item {
    margin-left: 10px;
    margin-right: 10px; }
  .roll-prizes .prize-catalogue-slider {
    padding: 0; }
  .level-container {
    padding-left: 0;
    padding-right: 0; }
  .wide-chicken-help.mirror {
    margin-top: 5px; }
  .winners {
    margin-left: 20px;
    margin-right: 20px; }
    .winners .winners-list p {
      font-size: 18px;
      line-height: 15px;
      margin-bottom: 10px; }
  .choose-prize .prize-row {
    padding-left: 25px;
    padding-right: 25px; }
  .prize-row .labels-row {
    display: none; }
  .prize-row .content-row {
    flex-direction: column; }
  .prize-row .photo-col, .prize-row .name-col, .prize-row .coins-col, .prize-row .date-col, .prize-row .status-col {
    flex-basis: unset; }
  .prize-row .name-col, .prize-row .coins-col {
    margin-bottom: 5px; }
  .prize-row .status-pending, .prize-row .status-sended, .prize-row .status-received {
    font-size: 16px;
    line-height: 18px;
    padding: 13px 11px;
    font-variant: small-caps;
    width: 165px;
    height: auto;
    background-color: #F3F3F3;
    border-radius: 5px; }
  .prize-row .status-pending, .prize-row .status-sended, .prize-row .status-received, .prize-row .prize-btn {
    width: 243px; }
  .prize-row .content-row {
    display: block; }
    .prize-row .content-row .prize-row-name, .prize-row .content-row .prize-row-coins, .prize-row .content-row .prize-row-date {
      text-align: left; }
  .prize-row .photo-col {
    float: left;
    height: 100px;
    width: 130px;
    margin-right: 10px; }
  .prize-row .status-col {
    margin-top: 10px;
    width: 100%; } }

@media (max-width: 550px) {
  .prize-slider .prize-content-inner {
    display: flex;
    justify-content: space-between; }
  .winter-bg-boxes-and-tree {
    background-image: url(/img/bg-winter-boxes-and-tree-mob-min.jpg); }
  .winter-bg-boxes-and-snow {
    background-image: url(/img/bg-winter-boxes-and-snow-mob-min.jpg); } }

@media (max-width: 450px) {
  .mobile-redline {
    margin-bottom: -31px; }
  .personal-prizes .prize-item {
    width: 100%; }
  .wide-chicken-help {
    background: url(../img/mrsChicken-halfdead.png) no-repeat left bottom;
    padding: 20px 30px 0; }
    .wide-chicken-help p {
      font-size: 16px;
      line-height: 24px;
      text-align: center; }
  .main-content-header {
    height: 170px; }
  .feedback-wrap {
    padding-left: 15px;
    padding-right: 15px; }
  .how-to-reg {
    margin-top: 20px; }
  .rules-part {
    padding-left: 10px;
    padding-right: 10px; }
  .winners-chicken p {
    font-size: 21px;
    line-height: 32px; }
  .pool-list .prize-item {
    width: 100%; }
  .pool-list .prize-name {
    padding: 0 0; }
  .possible-win .prize-name {
    padding: 0 0; } }

@media (max-width: 445px) {
  .wide-download-app {
    background: url(../img/mobile-bg-with-phones.png) no-repeat;
    height: 677px;
    background-position: center;
    padding: 50px 10% 0; }
  .wide-chicken-help.rules {
    height: auto; } }

@media (max-width: 360px) {
  .level-container {
    margin-left: 10px;
    margin-right: 10px; }
  .countdown-outer {
    padding-left: 25px;
    padding-right: 25px; }
  .trades-imgs .item {
    width: 90px;
    height: 90px; }
  .wide-download-app {
    padding: 35px 5% 0; } }

@media (max-width: 330px) {
  .wide-chicken-help {
    padding-top: 10px; }
  .mobile-special .heading {
    font-size: 24px; }
  .prize-brand-item .item-preview .item-part.text {
    padding: 5px 0 0 55px; } }

@media (min-width: 1000px) {
  .roll-prizes .prize-item:first-of-type() {
    margin-left: 0; }
  .roll-prizes .prize-item:last-of-type() {
    margin-right: 0; }
  .user-profile-link {
    min-width: 270px; }
  .faq-wrap {
    margin-bottom: 50px; }
  .mobile-special {
    display: none !important; }
  .roll-results-content .heading-supp {
    padding: 0 12%; } }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
  transition: all .2s linear;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10% 2px 0;
  pointer-events: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.js-popup-show {
  z-index: 999;
  opacity: 1;
  pointer-events: visible;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }

.popup-wrap {
  background: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 30px 61px 39px; }

.popup-inner {
  max-width: 390px;
  margin: auto;
  width: 100%;
  font-size: 16px;
  line-height: 21px; }

.popup-title {
  color: #AB2328;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase; }

.popup .btn {
  width: 288px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  font-variant: small-caps;
  font-weight: bold; }

.popup-form {
  margin-top: 25px; }

.popup-links {
  margin-top: 10px; }
  .popup-links .link {
    display: inline-block;
    width: 100%;
    text-align: center; }
  .popup-links .reg-link {
    color: #AB2328; }

.popup-desc {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px; }

.clock-text {
  text-align: center; }

.popup-error {
  color: #AB2328;
  text-align: center;
  margin: 15px 0;
  font-size: 18px;
  line-height: 18px; }

