@import 'variables';

.checkbox input:checked + .checkmark::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: $green;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.checkmark {
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

.checkbox input {
    -webkit-appearance: none;
    padding: 0;
    opacity: 0;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    position: absolute;
}

.input-field {
    position: relative;
    // width: 100%;
    margin: 0 auto 15px;
}

.close-popup{
    position: absolute;
    top: 15px;
    right: 15px;
}

.input-field input:not([type="checkbox"]), .input-field textarea, .select2-container .select2-selection--single{
    width: 100%;
    height: 54px;

    padding-left: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    background: #fff;
    border-radius: 10px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    transition: all .2s linear;
}

.input-field input:not([type="checkbox"]):disabled, .input-field textarea:disabled{
    background-color: #E5E5E5;
    pointer-events: none;
}

.checkbox-text{
    padding: 3px 0 0 35px;
    cursor: pointer;
}

p.error{
    color: $red;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.error, .error::placeholder, .input-field input.error[type="checkbox"] ~ .checkbox-text{
    color: $red;
}

input[type=text].error, input[type=password].error, .select2-selection--single.select2error, textarea.error, .dropify-error .dropify-wrapper{
    border: 1px solid $red !important;
    color: $red;
}

// only for select2
.select2error {
    .select2-selection__placeholder{
        color: $red !important;
    }

    .select2-selection__arrow{
        display: none;
    }
}

span.error{
    position: absolute;
    font-size: 0;
    top: 0;
    right: 16px;
    bottom: 0;
    width: 23px;
    height: 20px;
    margin: auto;
    background: url(../img/icon-warn.svg) center no-repeat;
    background-size: contain;
    z-index: 5;
}

.personal-data-text{
    width: 80%;
}

.personal-content-inner{
    .input-field input:not([type="checkbox"]), .input-field textarea, .select2-container .select2-selection--single, select{
        border: 1px solid $gray;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }

    .input-field input:not([type="checkbox"]), .input-field textarea, .select2-container .select2-selection--single, .select, .day-of-birth{
        width: 367px;
    }

    .input-field input[type="search"]{
        width: 100%;
    }

    .input-field input:not([type="checkbox"]), .input-field textarea, .select2-container .select2-selection--single{
        padding-left: 14px;
    }

    .day-of-birth{
        .select2-container .select2-selection--single, select{
            width: 100%;
        }
    }

    .select-day{
        flex-basis: 27%;
    }

    .select-month{
        flex-basis: 38%;
    }

    .select-year{
        flex-basis: 27%;
    }
}

textarea{
    min-height: 121px;
    padding-top: 18px;
}