@import 'variables';

body{
    background-color: #fff;

    font-family: 'Circe', Arial, sans-serif;
    font-size: 16px;
}

.inner-container{
    max-width: 1169px;
    margin: 0 auto;
    
}

.font-red{
    color: $red;
}

.header-brand{
    z-index: 90;
    margin-left: -40px;
}

.header-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.header-personal, .header-nav{
    display: flex;

    justify-content: center;
    align-items: flex-end;
    align-content: center;

    cursor: pointer;
}

.header-personal{
    margin-bottom: 8px;
}

.go-home-link{
    @extend .font-red;

    img{
        margin: 0 8px -1px 0;
    }
}

.main-header{
    padding-top: 20px;
    background: #fff;

    min-height: 122px;
}

.btn{
    display: inline-block;

    padding: 7px 11px;
    border-radius: 5px;

    text-align: center;

    &.big{
        font-size: 18px;
        padding: 15px 45px;
        font-variant: small-caps;
    }

    &.prize-btn{
        font-size: 16px;
        line-height: 18px;
        padding: 13px 11px;
        font-variant: small-caps;
        width: 165px;
        height: auto;
    }

    &.btn-info{
        background-color: $gray-light;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        padding: 10px 9px;
    }

    &.curse{
        font-variant: small-caps;
    }

    &:disabled, &[disabled], &.disabled{
        background-color: $gray;
        pointer-events: none;
    }
}

.btn-white{
    background-color: #fff;
    color: $green;
    border: 1px solid $green;

    &:hover{
        background-color: rgba(122, 169, 46, 0.3);
    }
}

.btn-green{
    background-color: $green;
    color: #fff;

    &:hover{
        background-color: darken($green, 5%);
    }
}

.btn-yellow{
    background-color: $yellow;
    color: #000;
    font-weight: bold;


    &:hover{
        background-color: lighten($yellow, 5%);
    }
}

.btn-red{
    background-color: $red;
    color: #fff;

    &:hover{
        background-color: lighten($red, 5%);
    }
}

.btn-reg{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-log{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-social{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 15px;
    background-color: $red;
    margin: 0 6px;  
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
}

.log-btns{
    display: flex;
    justify-content: flex-start;
}

.header-profile-list{
    display: none;

    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    z-index: 100;

    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    background: #fff;

    padding: 10px 0;

    ul a{
        font-size: 16px;
        line-height: 48px;
        padding: 0 42px;

        display: inline-block;
        width: 100%;

        &:hover{
            background-color: $green-light;
        }
    }
}

.hover-fix{
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: transparent;
}

.user-list-option{
    font-weight: bold;
}

.user-list-number{
    float: right;
    color: $green;
    
    display: block;
    width: 30px;
    text-align: left;
}

.header-user-profile{
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;

    margin-right: 110px;

    position: relative;

    &:hover > .header-profile-list{
        display: block;
    }
}

.header-user-pic{
    width: 34px;
    height: 34px;
}

.header-user-name{
    color: $green;
    margin: 0 10px;

    text-transform: capitalize;
}

.btn-logout{
    width: 174px;;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.header-nav-menu{
    margin-right: 20px;

    a{
        color: #000;
        font-weight: bold;
        line-height: 24px;

        margin: 0 11px;
    }

    .active{
        border-bottom: 2px solid #FFB81C;
    }

    li{
        float: left;
        display: block;
    }
}

.reg-receipt{
    font-weight: bold;

    width: 234px;
    font-variant: small-caps;

    &.big{
        width: 288px;
    }
}

.header-nav-desktop{
    margin-right: 19px;
}

.header-brand a{
    float: left;
}

.main-content{
    margin-top: -55px;
    z-index: 85;

    position: relative;
}

.wide-redline-top{
    width: 100%;
    z-index: 85;

    position: absolute;
    left: 0;
    top: 0;
}

.main-footer-contacts{
    background-color: $yellow;
    padding: 46px 0;
}

.mail-us{
    font-variant: small-caps;
    float: left;

    padding: 13px 12px;
    margin-right: 20px;

    .mail-icon{
        margin: 0 0 -2px 10px;
    }
}

.main-footer-inner, .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-email{
    flex-basis: 60%;
}

.footer-hotline{
    p{
        font-weight: bold;
    }

    .phone-number{
        text-transform: capitalize;
        font-size: 40px;
        line-height: 45px;

        position: relative;
    }

    .phone-info{
        font-size: 18px;
        line-height: 23px;
        font-variant: small-caps;
    }
}

.phone-icon{
    position: absolute;
    left: -42px;
    top: 14px;
}

.footer{
    max-width: 1206px;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-brand{
    .footer-logo{
        width: 74px;
        height: 52px;;
    }
}

.footer-soc-btns{
    li{
        float: left;
        height: 32px;
    }
}

.btn-viber{
    font-variant: small-caps;
    font-size: 13px;
    line-height: 16px;
    background: #1BD741;
    color: #fff;
    padding: 7px;


    img{
        margin: 0 10px -7px 0;
    }
}

.heading{
    font-weight: bold;
    font-size: 45px;
    line-height: 48px;
    text-align: center;

    &.red{
        color: $red;
    }
}

.red-promo-outer{
    padding: 55px 0;
}

.red-promo{
    padding: 50px 21% 0 21%;

    .item-img{
        margin-bottom: 22px;
    }

    .item-name{
        font-size: 21px;
        line-height: 24px;
    }

    .item{
        flex-basis: 32%;
        margin-bottom: 20px;
    }
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.item{
    text-align: center;
}

.align-center{
    display: flex;
    align-items: center;
    justify-content: center;

    &.inline{
        display: inline-flex;
    }
}

.read-rules{
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    text-align: center;
    display: block;

    margin-top: 18px;
}

.main-slider{
    padding-top: 8px;

    .slider-item{
        height: 515px;
        background-size: cover;
        background-position: center;
    }

    .download-apps, .reg-receipt{
        margin-top: 35px;
    }

    .inner-container{
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.slider-item{
    position: relative;

    p, .slider-img, a{
        position: relative;
        z-index: 90;
    }
}

.text-heading{
    font-weight: bold;
    font-size: 52px;
    line-height: 55px;
    color: $red;
    margin-bottom: 15px;
}

.text-supp{
    font-size: 30px;
    line-height: 32px;
}

.main-slider{
    .text-supp{
        margin-top: 15px;
    }

    .text-heading{
        margin-bottom: 0;
    }
}

.slide-content{
    // margin-top: 135px;
}

/* Slick slider */
.slick-dots{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 39px;
    text-align: center;

    li{
        display: inline-block;
        position: relative;
    }

    button{
        display: inline-block;
        
        font-size: 0;
        border: 0;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        height: 14px;
        width: 14px;

        margin: 0 7px;
    }

    .slick-active{
        button{
            background: $red;
        }
    }
}

.slick-prev, .slick-next{
    background: url(../img/black-arrow.svg) no-repeat;
    width: 16px;
    height: 32px;
}

.slick-prev{
    left: -25px;
}

.slick-next{
    right: -25px;
    transform: rotate(180deg);
}
/**/

.download-apps{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    a{
        margin-right: 19px;

        &:last-of-type{
            margin-right: 0;
        }
    }
}

.wide-download-app{
    background: url(../img/bg-big-wood-2.png) no-repeat;
    background-size: cover;
    background-position: center;

    height: 454px;
    padding: 134px 0 45px;

    .text-heading{
        color: black;
        font-size: 55px;
    }

    .text-supp{
        margin-bottom: 35px;
    }
}

.prize-slider-outer{
    // background: url(../img/bg-wood.png) no-repeat;
    background: url(../img/bg-gray-texture.png) no-repeat;
    background-size: cover;
    background-position: center;

    padding: 52px 0;
}

.prize-slider{
    margin: 30px 0 70px;

    .prize-footer{
        height: 45px;
    }

    .prize-content{
        height: 244px;
    }

    .img-outer{
        height: 120px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;

        img{
            max-height: 100%;
        }
    }

    .prize-content-inner{
        display: block;
    }

    .prize-name{
        height: 44px;
        margin-bottom: 0;
    }

    p{
        width: 100%;
    }
}

.prize-item{
    display: inline-block;
    vertical-align: top;
    background-color: #fff;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

    margin: 4px 7px;
    height: 289px;

    overflow: hidden;
    outline: none;
}

.prize-item-inner{
 
}


.prize-name, .prize-price{
    text-align: center;
    font-weight: bold;
}

.prize-name{
    font-size: 16px;
    line-height: 16px;
    margin: 16px 0 10px;
    padding: 0 10%;

    &::first-letter{
        text-transform: uppercase;
    }
}

.prize-price{
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
}

.prize-content{

}

.prize-content-inner{
    padding: 19px 7px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.prize-footer{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    font-variant: small-caps;

    padding: 9px 0;

    &.success{
        background-color: $green;
    }

    &.nego{
        background-color: $gray;
    }

    &.default{
        background-color: $yellow;
    }
}

.big-pool-promo{
    padding: 65px 0;

    .heading{
        margin-bottom: 20px;
    }

    .text-supp{
        text-align: center;
    }

    .prize-name{
        margin: 0;
        padding: 0 13%;
        min-height: 32px;
    }

    .prize-item{
        height: 273px;
        min-width: 31%;
    }

    .prize-footer{
        height: 84px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 13px 0;
    }

    .prize-content{
        height: 190px;
        background-size: cover;
        background-position: center;
        position: relative;

        img{
            height: 100%;
        }
    }

    .pool-list{
        margin: 20px 0;
    }
}

/* Social icons */
.icon-vk{
    background: url(../img/soc-vk.svg) $red no-repeat center ;
}

.icon-ok{
    background: url(../img/soc-ok.svg) $red no-repeat center ;
}

.icon-face{
    background: url(../img/soc-face.svg) $red no-repeat center ;
}

.icon-insta{
    background: url(../img/soc-insta.svg) $red no-repeat center ;
}

.icon-youtube{
    background: url(../img/soc-youtube.svg) $red no-repeat center ;
}

.icon-star{
    background: url(../img/soc-star.svg) $red no-repeat center ;
}
/**/

.icon-prize{
    position: absolute;
    top: 4px;
    left: 12px;
}

.btn-prize{
    position: relative;
    width: 234px;
    padding-left: 22px;
}

.burger{
    position: absolute;
    display: none;
    top: 0;
    right: 15px;
    margin: auto;
    width: 32px;
    height: 32px;
    background: url(../img/icon-burger.svg) no-repeat center;
    transition: none;

    z-index: 145;

    &.active{
        background: url(../img/icon-close.svg) no-repeat center;    
    }
}

.rules-link{
    color: $red;
}

.btn-wrap{
    text-align: center;
}

.link-reg{
    margin-top: 5px;
    color: $red;
}

.prizes-are-real{
    text-transform: lowercase;
}

.main-content-header{
    background-image: url(../img/bg-prize-boxes.png);
    background-size: cover;
    height: 336px;

    .heading{
        text-align: left;
        font-size: 52px;
        line-height: 77px;
    }
}

.align-center-y{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.user-profile{
    @extend .header-profile-list;

    display: block;
    position: relative;
    width: 291px;

    top: 0;
    left: 0;

    padding: 19px 0 44px;
    margin-top: -66px;

    .user-list-option{
        font-weight: normal;
    }

    li.active{
        background-color: $green-light;
    }
}

.personal-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.user-profile-pic{
    width: 110x;
    height: 110px;
}

.personal-content-inner{
    margin-top: 25px;
    flex-basis: 67%;

    .heading{
        font-size: 40px;
        line-height: 59px;
        text-align: left;
    }

    label{
        width: 185px;
    }

    .input-field{
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.data-section{
    margin-bottom: 44px;

    .btn{
        margin-left: 185px;
    }

    .heading{
        font-size: 40px;
        line-height: 59px;
        margin-bottom: 11px;
    }
}

.pass-section{
    margin: 30px 0 60px;

    .btn{
        margin-left: 185px;
    }

    .heading{
        font-size: 25px;
        line-height: 37px;
        margin-bottom: 13px;
    }
}

.day-of-birth{
    display: flex;
    justify-content: space-between;
}

.personal-settings{
    margin-top: 10px;
}

hr{
    color: $gray;
}

.txt-green{
    color: $green;
}

.table{
    width: 100%;
    text-align: center;

    .table-head, .inner{
        color: #000;
        opacity: 0.6;
    }

    .table-body{
        font-weight: bold;
        max-height: 341px;
        overflow-y: auto;
    }

    .check-photo{
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 1px solid #000;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
    }

    .table-row{
        display: flex;
        height: 57px;
        align-items: center;
        justify-content: space-between;
    }

    .inner{
        display: none;
    }

    .bad-check{
        .inner-status-content{
            color: $red;
            text-decoration: underline;
        }

        .check-photo{
            border: 2px solid $red;

        }

        .inner-coins-content{
            display: inline-block;
            width: 15px;
            height: 15px;
            background: url(../img/icon-no-prize.svg) no-repeat;
        }
    }
}

.personal-coins{
    margin-bottom: 59px;
}

.check-table{
    margin-bottom: 40px;

    .cell-date{
        order: 1;
        flex-basis: 17%;
    }

    .cell-photo{
        order: 2;
        flex-basis: 25%;
    }

    .cell-status{
        order: 3;
        flex-basis: 25%;
    }

    .cell-coins{
        order: 4;
        flex-basis: 33%;
    }
}

.personal-check{
    padding-bottom: 59px;
}

.coins-table{
    .inner{
        display: block;
    }

    .table-row{
        align-items: flex-start;
        text-align: left;
        min-height: 57px;
    }

    .cell-date{
        flex-basis: 20%;
        text-align: center;
    }

    .cell-desc{
        flex-basis: 53%;
    }

    .cell-coins{
        flex-basis: 22%;
        text-align: center;
    }

    .success{
        .inner-coins-content{
            color: $green;
        }
    }

    .fail{
        .inner-coins-content{
            color: $red;
        }     
    }
}

.how-to-get-coins{
    margin-top: 43px;

    .prize-content-inner {
        justify-content: flex-start;
    }

    .table-container{
        margin-bottom: 15px;
    }

    .prize-item{
        height: 215px;
        width: 189px;
        margin-bottom: 15px;

        &:first-of-type{
            margin-left: 0;
        }

        &:last-of-type{
            margin-right: 0;
        }


        .prize-name{
            margin: 0;
            padding: 0 6%;
        }

        .prize-item-inner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .prize-price{
            color: $green;
            font-weight: bold;
            font-size: 31px;
            line-height: 31px;
            padding: 25px 0;
        }

        .prize-content{
            height: 100%;
        }

        .prize-content-inner{
            padding-left: 0;
            padding-right: 0;
        }
    }

    .heading{
        color: $red;
        font-size: 31px;
        line-height: 46px;
    }

    .prize-container{
        margin-top: 19px;

        .prize-item{
            &:nth-child(3n+1){
                margin-left: 0;
            }
        }
    }
}

.personal-head{
    margin-bottom: 15px;
}
// Old markup for personal prizes
// Columns format
// 
// .choose-prize{
//     flex-wrap: wrap;
//     justify-content: space-between;

//     .prize-item{
//         width: 30%;
//         height: 366px;
//         margin-bottom: 15px;

//         &:first-of-type{
//             margin-left: 0;
//         }

//         &:nth-child(3n+1){
//             margin-left: 0;
//         }


//         &:nth-child(3n){
//             margin-right: 0;
//         }
//     }

//     .prize-status{
//         width: 100%;
//         text-align: center;
//     }

//     .prize-content{
//         height: 302px;
//     }

//     .prize-footer{
//         height: 64px;
//     }

//     .prize-price{
//         margin: 20px 0 25px;
//     }

//     .date-label{
//         color: #666666;
//     }

//     .date-value{
//         font-weight: bold;
//     }

//     .prize-cont-combo{
//         padding-top: 13px;
//     }
// }

// OLD

// New
.choose-prize{
    
    .prize-row{
        width: 100%;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        padding: 15px 10px;

        margin-bottom: 15px;

        &:nth-last-child(){
            margin-bottom: 0;
        }
    }

    .labels-row, .content-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p{
            text-align: center;
        }
    }

    .labels-row{
        margin-bottom: 10px;

        p{
            font-size: 14px;
            line-height: 16px;
            color: $gray;
        }
    }

    .content-row{
        p{
            font-weight: bold;
        }
    }

    .photo-col{
        flex-basis: 18%;
    }

    .name-col{
        flex-basis: 18%;
    }

    .coins-col{
        flex-basis: 18%;
    }

    .date-col{
        flex-basis: 12%;
    }

    .status-col{
        flex-basis: 28%;
    }

    .prize-row-photo{
        height: 90px;
        overflow: hidden;
    }

    .status-pending, .status-sended, .status-received{
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        font-variant: small-caps;
        cursor: default;
    }

    .status-received{
        color: $green;
    }

    .status-sended{
        color: $red;
    }

    .status-pending{
        color: #8A8A8A;
    }
}

.prize-item{
    &.success{
        .prize-footer{
            background-color: $green;
        }
        
    }

    &.nego{
        .prize-footer{
            background-color: $gray;
        }
    }

    &.default{
        .prize-footer{
            background-color: $yellow;   
        }
        
    }
}

.personal-prizes{
    margin-bottom: 65px;

    .prize-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

}

.prize-preview{
    height: 143px;
    width: auto;
}

.header-cut{
    margin-top: -67px;
    background-color: #fff;
}


.prizes-content{
    padding-top: 52px;

    .heading{
        font-size: 40px;
    }

    .prize-item.not-available{
        cursor: default;

        img{
            opacity: 0.5;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        .prize-footer{
            background-color: $gray;
        }
    }
}

.heading-supp{
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.level-container{
    background-color: $gray-light;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    padding: 32px 27px;
    margin: 26px 0;

    &:first-of-type(){
        margin-top: 32px;
    }

    &.no-coins{
        .prize-content-inner{
            img{
                opacity: 0.5;
                filter: grayscale(100%);
            }
        }
    }
}

.lvl-info{
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lvl-desc{
    font-size: 21px;
    line-height: 31px;
    font-weight: 300;
}

.lvl-roll-price{
    font-weight: bold;
    font-size: 32px;
    line-height: 47px;
    margin-bottom: 20px;
}

.roll-prizes{
    flex-basis: 65%;
    max-width: 65%;

    .prize-item{
        margin: 4px 9px;
    }

    .prize-name{
        height: 50px;
        width: 100%;
        font-size: 23px;
        line-height: 25px;
        padding: 0 6%;
        margin-bottom: 13px;
        z-index: 5;
    }

    .prize-content-inner{
        padding-top: 12px;
        padding-bottom: 12px;

        .align-center{
            width: 100%;
            height: 141px;
        }
    }

    .prize-content{
        height: 244px;
    }

    .prize-catalogue-slider{
        padding: 0 20px;
        // position: relative;
        max-width: 100%;
    }

    .slick-next{
        right: -10px;
    }

    .slick-prev{
        left: -10px;
    }
}

.wide-chicken-help{
    background: url(../img/mrsChicken.png) no-repeat left bottom;
    height: 310px;
    background-size: contain;

    margin-top: 25px;
    padding: 60px 20px 0 241px;

    p{
        font-size: 18px;
        line-height: 27px;
    }

    &.mirror{
        transform: scale(-1, 1);
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;

        z-index: 2;
    }

    &.rules{
        position: relative;
        margin-top: -85px;
        min-height: 260px;
        padding: 105px 0 0 200px; /* we rotating it, so padding works not as normal */

        p{
            transform: scale(-1, 1);
            font-size: 16px;
            line-height: 24px;
            text-align: left;
        }
    }
}

.boxes-v2{
    background-image: url(../img/bg-prize-boxes-winter-2020-min.jpg);
    height: 269px;
}

.roll-results-content{
    .heading-supp{
        font-size: 30px;
        line-height: 32px;
        font-weight: normal;

        text-align: center;
    }
}

.countdown{
    display: flex;
}

.countdown-outer{
    background-color: $yellow;
    padding: 30px 57px;
    border-radius: 8px;
}

.time-item{
    text-align: center;
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    font-weight: bold;

    .time-self{
        font-size: 34px;
        line-height: 32px;
    }

    .time-label{
        font-size: 14px;
        line-height: 21px;
    }
}

.countdown-announce{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
}

.countdown-init-hidden{
    display: none;
    width: 0;
    height: 0;
}

.between{
    display: inline-block;
    font-size: 50px;
    line-height: 78px;
    color: #fff;
    margin: 0 8px;
}

.roll-part, .rules-part{
    padding: 50px 9%;
}

.countdown-container{
    margin-bottom: 36px;
}

.part-2, .part-4, .rule-2, .rule-4{
    background: url(../img/bg-gray-texture.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.part-2{
    .txt-download{
        text-align: center;
        font-size: 20px;
        line-height: 32px;
    }

    .download-apps{
        margin-top: 10px;
        justify-content: center;
    }
}

.part-4{
    .possible-win{
        display: flex;
        justify-content: space-between;

        margin: 50px 0;

        p{
            cursor: default;
        }

        .prize-item{
            height: auto;
            flex-basis: 31%;

            &:first-of-type{
                margin-left: 0;
            }

            &:last-of-type{
                margin-right: 0;
            }
        }

        .prize-content{
            height: 184px;
            background-size: cover;
            background-position: center;
            position: relative;
        }

        .prize-footer{
            height: 88px;
            flex-direction: column;
        }

        .prize-name, .prize-price{
            margin: 0;
            padding: 0;
        }

        .prize-name{
            min-height: 32px;
            padding: 0 5%;
        }
    }
}

.part-5{
    .link-to-rules{
        color: $red;
        text-decoration: underline;
    }

    p:first-of-type{
        margin-bottom: 30px;
    }
}

.popups-list-for-fun{
    li{
        margin: 5px 0;
    }
}

.popup-txt-supp{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    line-height: 20px;

    text-align: center;
    text-decoration-line: underline;
}

.enter-another-address, .decline-prize-txt, .try-again-txt{
    @extend .popup-txt-supp;
}

.decline-prize-txt, .try-again-txt{
    font-variant: small-caps;
    font-weight: bold;
}

.try-again-txt{
    text-decoration-line: none;

    img{
        margin: 0 5px -3px;
    }
}

.popup-prize-item{
    margin-bottom: 20px;

    .prize-img{
        padding: 0 40px;

        img{
            width: 100%;
            height: auto;;
        }
    }
}

.popup-prize-name{
    font-size: 23px;
    line-height: 35px;
    font-weight: bold;
}

.popup .popup-prize-info{
    text-align: left;
}

.prize-cost{
    font-weight: bold;
}

.txt-mid{
    text-align: center;
}

.enroll-pic{
    width: 53px;
    height: 53px;
    border-radius: 35px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.enroll-price-list{
    .item{
        padding: 7px 10px;
        background-color: $yellow;
        border-radius: 12px;
        display: flex;
        align-items: center;
        margin-bottom: 17px;

        &:last-of-type{
            margin-bottom: 0;
        }
    }
}

.enroll-info{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}

.txt-bold{
    font-weight: bold;
}

.popup-inner{
    .spend-coins{
        font-size: 22px;
        line-height: 24px;
        margin: 30px 0;
    }

    .roll-results-announce{
        margin: 30px 0;
    }
}

.popup-winner-item{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;

    .winner-footer{
        font-size: 20px;
        line-height: 22px;

        text-align: center;
        font-weight: bold;
        background-color: $gray;
        padding: 7px 7%;
    }
}

.prize-img{
    font-size: 0;
    line-height: 0;
}

.faq-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    a{
        color: $green;
    }
}

.faq-wrap{
    flex-basis: 47%;
    z-index: 20;
}

.feedback-wrap{
    flex-basis: 45%;
}

.faq-content{
    padding-top: 50px;
}

.faq-item-title{
    padding-left: 40px;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    position: relative;
    cursor: pointer;

    &::before {
        content: '+';
        display: flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -4px;
        left: 0;
        width: 31px;
        height: 31px;
        font-size: 27px;
        font-weight: bold;
        color: #000;
        background: $yellow;
        border-radius: 10px;
    }

    &.active::before{
        content: '–';
        background-color: $gray;
    }
}

.faq-item-text{
    display: none;
    font-size: 18px;
    line-height: 27px;
    padding: 19px 0 0 40px;
}

.faq-item{
    margin: 40px 0;

    &:first-of-type{
        margin-top: 0;
    }

    &:last-of-type{
        margin-bottom: 0;
    }
}

.feedback-wrap{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: $gray-light;
    padding: 20px 43px;
}

.feedback-title{
    color: $red;
    font-weight: bold;
    font-size: 36px;
    line-height: 38px;
    text-align: center;
}

.feedback-desc{
    font-size: 18px;
    line-height: 20px;

    margin: 20px 0 37px;
    text-align: center;
    letter-spacing: -0.02em;
}

.relative{
    position: relative;
}

.rules-content{
    .heading{
        font-size: 40px;
        line-height: 1;
        text-align: center;
    }

    .link-bold-green{
        margin-top: 15px;
        width: 100%;
        display: inline-block;
        text-align: center;
        position: relative;
        z-index: 5;
    }
}

.step-name{
    color: $red;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.step-desc{
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}

.how-to-reg{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item{
        padding: 0 45px;

        img{
            max-width: 100%;
        }
    }

    .img-wrap{
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.trades-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;

    .item{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
        width: 101px;
        height: 101px;
        border-radius: 60px;
        border: 2px solid #fff;
        margin: 0 8px;
    }


    &.small{
        .item{
            background-size: contain;
        }
    }
}

.coins-exchange{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
}

.possible-trades{
    flex-basis: 50%;
}

.trades-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trade-rule{
    margin-bottom: 32px;
}

.trade-heading{
    color: $red;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.brand-i-border{
    border: 1px solid $gray !important;
    border-radius: 35px;
}

.trade-heading, .trade-rule{
    width: 55%;
    text-align: center;
}

.item-chicken{
    min-height: 110px;
    border-radius: 0 !important;
    width: 100% !important;
    background-size: contain !important;
}

.prize-brand-item{
    padding: 20px;
    margin-bottom: 13px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    background-color: #fff;
    display: inline-block;
    width: 100%;

    .item-preview{
        width: 100%;

        cursor: pointer;
    
        display: flex;
        justify-content: space-between;
    
        p{
            text-align: left;
        }
    
        .item-part{
            display: flex;
            align-items: center;
            justify-content: center;
    
            &.text{
                flex-direction: column;
                align-items: flex-start;
                width: 70%;
                position: absolute;
                padding: 7px 0 0 65px;
            }
        }
    
        .arrow{
            transform: rotate(270deg);
            transition: all .3s linear;
        }
    
        .prize-title{
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
        }
    
        .prize-desc{
            font-size: 14px;
            line-height: 18px;
        }
        
        .icon{
            width: 50px;
            height: 50px;
            background-size: cover;
            background-position: center;
        }

        &.active{
            margin-bottom: 22px;
        }
    }

    .item-content{
        display: none;

        cursor: default;
        
        padding: 0 8px 0;
        height: 200px;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        color: #272727;
    }

    ul{
        list-style: disc inside;

        li{
            margin-bottom: 2px;

            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }

    &:last-of-type{
        margin-bottom: 0;
    }

    &.active{
        .arrow{
            transform: rotate(360deg);
        }
    }
}

.first-check-heading{
    line-height: 26px !important;
    text-transform: none !important;
    margin-bottom: 15px;
}

.prize-decorate{
    font-weight: bold;
}

.small-info{
    color: $gray;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
}

.popup-prize-brand-wrap{
    margin-bottom: 20px;
}

.btn.take-prize{
    display: none;
    margin-top: 17px;
    width: 150px !important;
    height: 41px !important;
}

.active{
    .btn.take-prize{
        display: inline-block;
    }
}

.fake{
    box-shadow: none;
    height: 1px !important;
    pointer-events: none;
}

.user-status{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

.status-label{
    font-size: 15px;
    line-height: 21px;
    text-transform: capitalize;
    color: #000000;
    opacity: 0.6;
}

.status-itself{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    font-variant: small-caps;
    color: $red;
}

.status-desc{
    padding-left: 3px;
}

.link-bold-green{
    font-variant: small-caps;
    font-size: 21px;
    line-height: 34px;
    color: $green;
    text-decoration: underline;
}

.personal-data-announce{
    font-weight: bold;
    font-size: 19px;
    line-height: 21px;

    margin-top: 20px;
}

#personal-data{
    textarea{
        min-height: 86px;
    }
}

.group-label{
    padding-left: 24px;
    color: $green;
    font-size: 18px;
    line-height: 20px;
    opacity: 0.5;

    margin: 20px 0 10px;
}

.username-hardcoded{
    padding-left: 24px;
    font-weight: bold;
    font-size: 21px;
    line-height: 22px;
}

.pass-data{
    display: flex;
    justify-content: space-between;
}

.pass-series{
    flex-basis: 37%;
}

.pass-number{
    flex-basis: 57%;
}

.file-input-group{
    display: flex;
    align-items: center;

    &.dropify-error{
        label{
            color: $red;
        }

        span.error{
            display: none !important;
        }
    }

    label{
        font-size: 18px;
        line-height: 20px;
        display: inline-block;
        width: 55%;
    }
}


.upload-status{
    .reupload-photo{
        display: none;
    }

    .upload-photo{
        display: block;
    }
}

.has-preview.touch-fallback{
    .upload-status{
        display: none;    
    }
    
    .dropify-clear{
        display: none !important;
    }
}

.reupload{
    .reupload-photo{
        display: block;
    }

    .upload-photo{
        display: none;
    }
}

.winners-chicken{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0 20%;

    p{
        font-size: 30px;
        line-height: 32px;
        text-align: center;

        margin: 50px 0 30px;
    }
}

.enroll-btn{
    width: auto !important;
}

.winners-header{
    background-image: url(../img/bg-boxes-v3.jpg);
    background-position: center;
}

.tier-1{
    margin-top: 35px;
}

.winners{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    height: 262px;

    margin-bottom: 30px;

    &:nth-last-child(){
        margin-bottom: 0;
    }

    .prize{
        flex-basis: 54%;
        border-radius: 10px;
        overflow: hidden;
        background-color: $yellow;
        line-height: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .prize-photo{
        flex-basis: 55%;
        height: 100%;

        img{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    .prize-desc{
        flex-basis: 45%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        height: 100%;
        padding-left: 29px;

        display: flex;
        flex-direction: column;

        p{
            padding: 0;
            margin: 0;
            text-align: left;
        }
    }

    .prize-name-outer{
        height: 154px;
        display: flex;
        align-items: flex-end;

        margin-bottom: 25px;
    }

    .prize-name{
        font-weight: bold;
        font-size: 27px;
        line-height: 33px;
    }

    .prize-price{
        font-size: 25px;
        line-height: 18px;
        font-weight: normal;
    }

    .winners-list{
        flex-basis: 46%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 15px 10px 10px;

        p{
            font-size: 22px;
            line-height: 15px;
            font-variant: small-caps;
            margin-bottom: 15px;
        }
        
        li{
            font-size: 25px;
            line-height: 38px;
        }
    }

    .winners-list-inner{
        width: 100%;
        text-align: center;
    }
}

.small-icon{
    width: 22px;
    height: 22px;
}

.prize-summ-label{
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;

    width: 60px;
}

.prize-summ-count{
    font-weight: bold;
    font-size: 34px;
    line-height: 32px;

    margin-right: 8px;
}

.prize-summ-sep{
    font-weight: bold;

    font-size: 38px;
    line-height: 18px;
    padding-bottom: 3px;
    margin-right: 8px;
}

.prize-quantity{
    position: absolute;
    width: 88px;
    top: 55px;
    right: 0;
    background-color: $red;
    padding: 10px 0;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    p{
        color: #fff;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;

        &.quantity{
            font-size: 42px;
            font-weight: bold;
        }
    }
}

.winter-bg-boxes-and-tree{
    background-image: url(/img/bg-winter-boxes-and-tree-min.jpg);
}

.winter-bg-boxes-and-snow{
    background-image: url(/img/bg-winter-boxes-and-snow-min.jpg);
}