@import 'variables';



@media (max-width: 1280px){
    .header-brand{
        margin-left: 0;

        .go-home-link{
            display: none;
        }
    }
}
// max-width: 1280px

@media (max-width: 1167px){
    .roll-prizes{
        display: flex;
        justify-content: space-between;
    }

    .level-container{
        margin-left: 20px;
        margin-right: 20px;
    }

    .wide-chicken-help{
        &.rules{
            padding: 85px 0 0 220px;
        }
    }

    .winners{
        .winners-list li{
            font-size: 23px;
            line-height: 31px;
        }
    }

    .header-nav-menu{
        a{
            margin: 0 5px;
        }
    }

    .slide-content{
        padding: 0 15px;
    }
}
// max-width: 1167px

@media (max-width: 1000px){
    .main-container{
        max-width: 375px;
    }

    .main-slider{
        padding-top: 0;
    }

    .row{
        flex-direction: column;
    }

    .download-apps{
        flex-direction: column;
        align-items: center;

        a{
            margin: 0 0 20px 0;
        }
    }

    .text-heading, .text-supp{
        text-align: center;
    }

    .text-supp{
        font-size: 18px;
        line-height: 24px;
    }

    .heading, .text-heading{
        font-size: 28px;
        line-height: 31px;
    }

    .btn, .btn.big{
        width: 243px;
        height: 50px;

        line-height: 34px;
        padding: 7px;
    }

    // .btn.big{
    //     padding: 15px 20px;
    // }

    .slide-content{
        margin-top: 0;
        height: 100%;
        width: 100%;
        padding: 0 14%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .main-slider .inner-container{
        height: 100%;
    }

    .big-pool-promo{
        padding: 48px 20px;
    }

    .pool-list{
        .prize-item{
            margin-bottom: 32px;

            &:nth-last-child(){
                margin-bottom: 0;
            }
        }
    }

    .personal-content-inner .input-field {
        display: flex;
    }

    .header-brand{
        width: 117px;
        height: auto;

        display: block;
        margin: 0 auto;
    }

    .header-container{
        display: none;
        z-index: 140;

        &.active{
            display: flex;
            position: absolute;
            width: 100%;
            background-color: #fff;
            align-items: center;
        }
    }

    .header-nav, .header-nav-menu, .header-nav li{
        width: 100%;
        align-items: center;
    }

    .header-nav{
        order: 1;
        a{
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            
        }
    
        li{
            float: none;
            text-align: center;
        }

        .reg-receipt{
            display: none;
        }
    }

    .burger{
        display: block;
    }

    .header-user-profile{
        margin-right: 0;
        order: 2;
    }

    .btn-prize{
        padding-left: 28px;
    }

    .icon-prize{
        top: 10px;
        left: 12px;
    }

    .header-personal, .header-nav, .log-btns{
        flex-direction: column;
        align-items: center;
    }

    .log-btns{
        order: 1;
        margin: 30px 0;

        .btn-log{
            margin-bottom: 8px;
        }

        .btn{
            font-size: 18px;
        }
    }

    .btn-log, .btn-reg{
        border: 1px solid #7AA92E;
        border-radius: 5px;
    }

    .header-personal{
        order: 2;

        .header-profile-list, .hover-fix, .header-user-arrow{
            display: none !important;
        }
    }

    .mobile-redline{
        order: 3;
        margin-bottom: -65px;
    }

    .wide-download-app{
        padding: 50px 19% 0;
        
        .text-heading {
            font-size: 28px;
            line-height: 31px;

            margin-bottom: 22px;
        }

        .text-supp{
            margin-bottom: 24px;
        }
    }

    .main-footer-inner{
        flex-direction: column;
    }

    .footer-email{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: column;
        padding: 0 10%;
        text-align: center;

        .mail-us{
            order: 2;
            margin: 24px 0;
        }
    }

    .footer{
        flex-direction: column;
        padding: 32px 15px 23px;
        
        .btn-viber{
            order: 1;
        }

        .prizes-are-real{
            order: 2;

            margin: 32px 0;
            font-size: 14px;
            line-height: 16px;
        }

        .footer-brand{
            order: 3;
        }

        .go-home-link{
            order: 4;
            margin: 3px 0;

            img{
                display: none;
            }
        }

        .footer-soc-btns{
            order: 5;
        }
    }

    .footer-hotline{
        .phone-number{
            font-size: 27px;
            line-height: 40px;
        }

        .phone-info{
            font-size: 16px;
            line-height: 24px;
        }

        .phone-icon{
            width: 19px;
            height: 19px;
            left: -26px;
            top: 10px;
        }
    }

    .popup .btn {
        max-width: 100%;
    }

    .popups .popup-wrap{
        padding: 25px 15px;
    }

    .popup{
        padding-top: 10%;
    }

    .close-popup{
        top: 10px;
        right: 10px;
    }

    .main-content-header{
        height: 375px;
        background-position: center;
        // to do 
        // change to centered img with white filter
        background-image: url(../img/bg-prize-boxes-mobile.png); 

        .heading{
            text-align: center;
            font-size: 28px;
            line-height: 31px;
        }
    }

    .user-profile-pic{
        width: 74px;
        height: 74px;
    }

    .personal-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0 15px;
    }

    .personal-settings{
        .btn{
            margin-left: 0;
        }
    }

    .table{
        .check-table thead{
            display: none;
        }
        .inner{
            display: block;;
        }

        .check-photo{
            width: 32px;
            height: 32px;
        }



        .table-row{
            padding: 0 15px;
        }

        .inner-date-content, .inner-status-content, .inner-coins-content, .inner-desc-content{
            font-size: 14px;
            line-height: 21px;
        }
    }

    .check-table, .coins-table{
        width: 100%;
        position: absolute;
        display: block;
        left: 0;
        right: 0;
    }

    .check-table{
        .table-head{
            display: none;
        }

        .cell-date{
            order: 2;
            flex-basis: 26%;
        }
    
        .cell-photo{
            order: 1;
            flex-basis: 13%;
        }

        .cell-coins{
            flex-basis: 30%;
        }

        .cell-status{
            flex-basis: 31%;
        }
    }

    .coins-outer{
        text-align: center;
    }

    .coins-table{
        .inner{
            opacity: 1;
        }

        .table-head{
            font-size: 12px;
            line-height: 18px;
        }

        .table-row{
            min-height: auto;
            height: auto;

            padding: 15px;
        }

        .cell-date{
            flex-basis: 26%;
            line-height: 18px;
            text-align: left;
        }
    
        .cell-desc{
            flex-basis: 62%;
        }
    
        .cell-coins{
            flex-basis: 12%;
            text-align: left;
        }

        .inner-desc-content, .inner-desc{
            font-weight: normal;
        }
    }

    .header-nav-menu{
        margin-right: 0;
    }

    .table-body{
        text-align: left;

        .table-row:nth-child(even){
            background-color: $green-light-more;
        }
    }

    .how-to-get-coins{
        .heading{
            font-size: 21px;
            line-height: 31px;
        }
    }

    .table-row{
        .inner{
            font-size: 12px;
            line-height: 18px;
        }
    }

    .personal-check{
        .heading{
            font-size: 28px;
            line-height: 31px;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .table-container{
        min-height: 361px;
    }
    
    .personal-coins{

        .table-container{
            min-height: 415px;
        }
    }
    .personal-head{
        margin-bottom: 32px;
        
        .heading{
            font-size: 28px;
            line-height: 31px;

            order: 2;
            margin-top: 15px;
        }

        .btn{
            order: 1;
        }
    }

    .personal-content-inner{
        width: 100%;
    }

    .reg-new-check{
        display: block;
        margin: 0 auto;
    }

    .personal-prizes{
        .prize-item{
            width: 350px;
            margin: 0 0 24px;
        }
    }

    .level-container{
        flex-direction: column;
    }

    .prizes-content{
        .heading{
            font-size: 28px;
            line-height: 31px;
            
        }

        .heading-supp{
            font-size: 18px;
            line-height: 24px;
        }
        
        .heading, .heading-supp{
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .lvl-info{
        margin-bottom: 30px;
    }

    .lvl-roll-price{
        margin-bottom: 7px;
    }

    .roll-prizes{
        order: 2;
    }

    .lvl-info{
        order: 1;
    }

    .wide-chicken-help{
        padding-top: 46px;
    }

    .main-content-header{
        height: 280px;
    }

    .header-cut{
        margin-top: -35px;
    }

    .roll-results-content{
        .heading-supp{
            font-size: 21px;
            line-height: 26px;
        }

        .roll-part{
            padding: 42px 9%;
        }
    }

    .time-item{
        width: 60px;
        height: 60px;
    }

    .between{
        line-height: 54px;
    }

    .countdown-outer{
        padding-left: 46px;
        padding-right: 46px;
    }

    .possible-win{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .prize-item{
            margin: 0 0 32px;
            
            &:last-of-type{
                margin: 0;
            }
        }
    }

    .prize-slider{
        margin-bottom: 42px;
    }

    .part-4{
        .possible-win{
            .prize-item{
                width: 100%;
            }
        }

    }

    .faq-content{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        align-items: center;
    }

    .faq-wrap{
        margin-bottom: 45px;
    }

    .faq-item-text{
        padding-top: 16px;
    }

    .faq-item{
        margin: 25px 0;
    }

    textarea{
        min-height: 136px;
    }

    .feedback-title{
        font-size: 28px;
        line-height: 31px;
    }

    .feedback-desc{
        margin-bottom: 32px;
    }

    .wide-chicken-help{
        &.mirror{
            position: relative;
            background: url(../img/mrsChicken.png) no-repeat left bottom;
            padding: 0;
            background-size: contain;
            margin-top: -100px;
        }

        &.rules{
            background: url(../img/mrsChicken-halfdead.png) no-repeat left bottom;
            margin-top: 0;

            padding: 32px 20px;
        }
    }

    .how-to-reg{
        flex-direction: column;

        .item{
            margin-bottom: 20px;

            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }

    .rules-content{
        .heading{
            font-size: 28px;
            line-height: 31px;
        }
    }

    .coins-exchange{
        flex-direction: column;
    }

    .possible-trades{
        margin-bottom: 45px;
        width: 60%;

        &:last-of-type{
            margin-bottom: 0;
        }
    }

    .trade-heading, .trade-rule{
        width: 100%;
    }

    .mobile-special{
        .heading{
            font-weight: bold;
            font-size: 26px;
            line-height: 28px;
            text-align: center;
            color: $red;
            padding: 0 11px;
        }

        p{
            text-align: center;
            font-size: 20px;
            line-height: 40px;
        }

        .btn-viber{
            font-size: 18px;
        }

        .welcome-prize-list{
            margin-top: 29px;
        }

        .download-apps{
            a{
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }

        .reg-in-whatsapp, .reg-in-app, .reg-on-site{
            margin-bottom: 33px;

            &:last-of-type{
                margin-bottom: 0;
            }
        }

        .reg-on-site{
            margin-top: 25px;
        }

        .how-to-reg-mobile{
            padding: 30px 0;
        }

        .welcome-prize{
            padding: 80px 28px 47px;

            background: url(../img/bg-gray-texture.png) no-repeat;
            background-size: auto;
        }

        .main-footer-contacts{
            padding: 16px 0;
        }

        .footer{
            padding: 9px 0 15px;
        }
    }

    .boxes-v2{
        background-image: url(../img/bg-special-prize-boxes-mobile.png);
    }
    
    .winners-chicken{
        p{
            margin-top: 0;
        }
    }

    .winners-header{
        background-image: url(../img/bg-special-prize-boxes-mobile.png);
    }

    .winners{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        max-width: 600px;

        .prize{
            flex-direction: column;
        }

        .prize-desc, .prize-photo, .prize{
            flex-basis: unset;
        }

        .prize-photo{
            img{
                border-radius: 0;
            }
        }

        .prize-desc{
            padding: 15px 0;
            p{
                text-align: center;
            }
            
        }

        .prize-name{
            font-size: 14px;
            line-height: 16px;
        }

        .prize-price{
            font-size: 21px;
            line-height: 18px;
        }

        .prize-name-outer{
            height: auto;
            margin-bottom: 10px;
        }
    }

    .winners-list-inner{
        max-height: 190px;
    }

    .btn-info{
        order: 3 !important;
        margin-top: 20px;
    }

    .pool-list{
        .prize-item{
            width: 380px;
        }
    }

    .roll-prizes{
        max-width: 100%;
    }
}
// max-width: 1000px

@media (max-width: 800px){
    .mobile-redline{
        margin-bottom: -45px;
    }

    .wide-chicken-help{
        padding-top: 15px;
    }

    .possible-trades{
        width: 100%;
    }

    .trades-imgs{
        justify-content: space-between;

        .item{
            margin: 0;
        }
    }
}
// max-width: 800px

@media (max-width: 700px){
    .wide-chicken-help{
        background: url(../img/mrsChicken-halfdead.png) no-repeat left bottom;
        padding: 40px 30px 0;

        p{
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }
    }

    .winners-chicken{
        padding: 30px 0 0 !important;

        p{
            padding: 0 12%;
            font-size: 21px;
            line-height: 32px;
        }
    }
}
// max-width: 700px

@media (max-width: 650px){
    .personal-content{
        .input-field label, .input-field input:not([type="checkbox"]), .input-field textarea, .select2-container .select2-selection--single, .select, .day-of-birth{
            width: 100%;
        }

        .input-field label{
            display: block;
            font-size: 12px;
            line-height: 18px;

            padding-left: 15px;
        }
        
    }

    .personal-content-inner .input-field{
        flex-direction: column;
        display: inline-flex;
    }

    .data-section{
        margin-bottom: 32px;

        .heading{
            font-size: 28px;
            line-height: 31px;
            text-align: center;
            margin-bottom: 15px;
        }
    }

    .pass-section{
        margin: 30px 0 48px;

        .heading{
            font-size: 21px;
            line-height: 31px;
            text-align: center;
            margin-bottom: 15px;
        }
    }

    .personal-settings .btn{
        margin: 17px auto 0;
        display: block;
    }

    .input-field{
        width: 100%;
    }

    .personal-coins{
        margin-bottom: 42px;

        .prize-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .prize-item{
            width: 245px;
            height: 180px;
            margin: 0 0 24px;
        }


    }

    .prize-container{
        margin-top: 30px;
    }

    .how-to-get-coins{
        .table-container{
            min-height: 415px;
        }

        .prize-item{
            .prize-price{
                padding: 15px 0;
            }
        }
    }

    .roll-prizes{
        .prize-item{
            margin-left: 10px;
            margin-right: 10px;   
        }

        .prize-catalogue-slider{
            padding: 0;
        }
    }

    .level-container{
        padding-left: 0;
        padding-right: 0;
    }

    .wide-chicken-help{
        &.mirror{
            margin-top: 5px;
        }
    }

    .winners{
        margin-left: 20px;
        margin-right: 20px;

        .winners-list{
            p{
                font-size: 18px;
                line-height: 15px;
                margin-bottom: 10px;
            }
        }
    }

    .choose-prize{
        .prize-row{
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .prize-row{
        .labels-row{
            display: none;
        }

        .content-row{
            flex-direction: column;
        }

        .photo-col, .name-col, .coins-col, .date-col, .status-col{
            flex-basis: unset;
        }

        .name-col, .coins-col{
            margin-bottom: 5px;
        }

        .status-pending, .status-sended, .status-received{
            font-size: 16px;
            line-height: 18px;
            padding: 13px 11px;
            font-variant: small-caps;
            width: 165px;
            height: auto;

            background-color: #F3F3F3;
            border-radius: 5px;
        }

        .status-pending, .status-sended, .status-received, .prize-btn{
            width: 243px;
        }

        .content-row{
            display: block;

            .prize-row-name, .prize-row-coins, .prize-row-date{
                text-align: left;
            }
        }

        .photo-col{
            float: left;
            height: 100px;
            width: 130px;

            margin-right: 10px;
        }

        .status-col{
            margin-top: 10px;
            width: 100%;
        }
    }
}
// max-width: 650px

@media (max-width: 550px){
    .prize-slider{
        .prize-content-inner{
            display: flex;
            justify-content: space-between;
        }
    }

    
    .winter-bg-boxes-and-tree{
        background-image: url(/img/bg-winter-boxes-and-tree-mob-min.jpg);
    }
    
    .winter-bg-boxes-and-snow{
        background-image: url(/img/bg-winter-boxes-and-snow-mob-min.jpg);
    }
}
// max-width: 550px

@media (max-width: 450px){
    .mobile-redline {
        margin-bottom: -31px;
    }

    .personal-prizes{
        .prize-item{
            width: 100%
        }
    }

    .wide-chicken-help{
        background: url(../img/mrsChicken-halfdead.png) no-repeat left bottom;
        padding: 20px 30px 0;
        // height: auto;

        p{
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }

    .main-content-header{
        height: 170px;
    }

    .feedback-wrap{
        padding-left: 15px;
        padding-right: 15px;
    }

    .how-to-reg{
        margin-top: 20px;
    }

    .rules-part{
        padding-left: 10px;
        padding-right: 10px;
    }

    .winners-chicken{
        p{
            font-size: 21px;
            line-height: 32px;
        }
    }

    .pool-list{
        .prize-item{
            width: 100% ;
        }

        .prize-name{
            padding: 0 0;
        }
    }

    .possible-win{
        .prize-name{
            padding: 0 0;
        }
    }
}
// max-width: 450px

@media (max-width: 445px){
    .wide-download-app{
        background: url(../img/mobile-bg-with-phones.png) no-repeat;
        height: 677px;
        background-position: center;
        padding: 50px 10% 0;
    }

    .wide-chicken-help{
        &.rules{
            height: auto;
        }
    }
}
// max-width: 445px

@media (max-width: 360px){
    .level-container{
        margin-left: 10px;
        margin-right: 10px;

    }

    .countdown-outer{
        padding-left: 25px;
        padding-right: 25px;
    }

    .trades-imgs{
        .item{
            width: 90px;
            height: 90px;
        }
    }

    .wide-download-app{
        padding: 35px 5% 0;
    }
}
// max-width: 360px

@media (max-width: 330px){
    .wide-chicken-help{
        padding-top: 10px;
    }

    .mobile-special{
        .heading{
            font-size: 24px;
        }
    }

    .prize-brand-item{
        .item-preview .item-part{
            &.text{
                padding: 5px 0 0 55px;
            }
        }
    }
}
// max-width: 330px

@media (min-width: 1000px){
    .roll-prizes{
        .prize-item{
            &:first-of-type(){
                margin-left: 0;
            }
    
            &:last-of-type(){
                margin-right: 0;
            } 
        }
    }

    .user-profile-link{
        min-width: 270px;
    }

    .faq-wrap{
        margin-bottom: 50px;
    }

    .mobile-special{
        display: none !important;
    }

    .roll-results-content{
        .heading-supp{
            padding: 0 12%;
        }
    }
}
// min-width: 1000px
