@import 'variables';

.popup{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    padding: 10% 2px 0;
    pointer-events: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.js-popup-show {
    z-index: 999;
    opacity: 1;
    pointer-events: visible;
    backdrop-filter: blur(10px);
}

.popup-wrap {
    background: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 30px 61px 39px;
}

.popup-inner {
    max-width: 390px;
    margin: auto;
    width: 100%;
    font-size: 16px;
    line-height: 21px;
}

.popup-title{
    color: $red;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.popup .btn{
    width: 288px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
}

.popup-form{
    margin-top: 25px;
}

.popup-links{
    margin-top: 10px;

    .link{
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .reg-link{
        color: $red;
    }
}

.popup-desc{
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
}

.clock-text{
    text-align: center;
}

.popup-error{
    color: $red;
    text-align: center;
    margin: 15px 0;
    font-size: 18px;
    line-height: 18px;
}